@charset "UTF-8";
body {
    background: #f9f9f9;
    color: #5f5d5b;
    font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
a {
    color: #0099e8;
}
h1 {
    font-size: 1.4em;
    font-weight: 700;
    margin: 0 0 0.5em;
    padding: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5em;
    padding: 0;
}
h3 {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 0.5em;
    padding: 0;
}

::placeholder {
    color: #fafafa;
}
/* 旧Edge対応 */
::-ms-input-placeholder {
    color: #fafafa;
}
/* IE対応 */
:-ms-input-placeholder {
    color: #fafafa;
}

.smallEX { font-size: 8px;}
.font05 { font-size: 0.5em; }
.font10 { font-size: 1.0em; }
.font20 { font-size: 2.0em; font-weight: 700; }
.font25 { font-size: 2.5em; font-weight: 700; }
.font30 { font-size: 3.0em; font-weight: 700; }
.font40 { font-size: 4.0em; font-weight: 700; }
.font50 { font-size: 5.0em; font-weight: 700; }
.font60 { font-size: 6.0em; font-weight: 700; }

.fontRed { color: #FF0004;}
.fontBold { font-weight: 700; }
.fontSpan { color: #f18700; }

.bgGray {
    background: #F7F7F7;
}
.bgDark {
    background: #525252;
}
.newIcon {
    background: #9F0104;
    color: #fff;
    border: 1px;
    border-radius: 4px;
    padding: 0 0.3em;
}
.fa-heart {
    color: #ff0449;
}
.arrowSmall {
    border-style: solid;
    border-width: 21px 21px 0 21px;
    border-color: #ff0000  transparent transparent transparent;
    width: 0;
    height: 0;
    margin: auto;
}


/* -----------------------------------------------
    カオ評価 設定
----------------------------------------------- */
.fa-smile {
    color: #ef5185;
}
.fa-meh {
    color: #fba933;
}
.fa-frown {
    color: #6ab5d8;
}

/* -----------------------------------------------
    画像カーセル 設定
----------------------------------------------- */
.carousel {
    text-align: center;
    background: #f9f9f9;
}

/* -----------------------------------------------
    並び替え 設定
----------------------------------------------- */
.sortButton,
.sortButton:hover,
.sortButton:visited {
    color: #7d8383;
    font-size: 84%;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 0px #fafafa;
    background: #fbfaf4;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfaf4), to(#ece8e6));
    background: -moz-linear-gradient(top, #fbfaf4, #ece8e6);
    background: -o-linear-gradient(top, #fbfaf4, #ece8e6);
    background: -ms-linear-gradient(top, #fbfaf4, #ece8e6);
    background: linear-gradient(top, #fbfaf4, #ece8e6);
    border: 1px solid #dcd9d8;
    border-bottom: 1px solid #c1c1bd;
    -webkit-box-shadow: 0 0 1px #c7c5c1;
    -moz-box-shadow: 0 0 1px #c7c5c1;
    box-shadow: 0 0 1px #c7c5c1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    padding: 2px 8px;
}
/* -----------------------------------------------
    SNS Color 設定
----------------------------------------------- */
.bgTwitterColor {
    color: #ffffff;
    background-color: #55acee;
}
.bgYouTubeColor {
    color: #ffffff;
    background-color: #FF0000;
}
.bgFacebookColor {
    color: #ffffff;
    background-color: #3B5998;
}
.bgLineColor {
    color: #ffffff;
    background-color: #00b900;
}
.bgInstagramColor {
    color: #ffffff;
    background-color: #D93177;
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
.bgInstagramColor:before {
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}

/* -----------------------------------------------
    グローバルナビゲーション 設定
----------------------------------------------- */
.navbar {
    background: #fff;
    margin-bottom: 3em;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    z-index: 999;
}
.navbar-light .navbar-nav .nav-link {
    color: #5a5a5a;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #f80008;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f80008;
}

/* -----------------------------------------------
    TOPイメージ 設定
----------------------------------------------- */
/* 旧画像サイズ */
.topImg {
    margin-bottom: 2em;
    margin-top: -3em;
}
.topListImg {
    /*max-height: 105px;*/
    background: #eee;
    height: 105px;
    object-fit: cover;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .topImg {
        margin-bottom: 0!important;
        margin-top: 0!important;
    }
}

/* -----------------------------------------------
    TOP PR 設定
----------------------------------------------- */
.home-mark-wrap {
    margin-bottom: 2em;
}
.home-mark {
    text-align: center;
}
.home-mark i {
    color: #fff;
    background-color: #01b83e;
    padding: 30px;
    border-radius: 100px;
    font-size: 40px;
    width: 100px;
    height: 100px;
}
.home-mark-wrap h3 {
    font-weight: 700;
    text-align: center;
    margin: 15px;
}
.home-mark-wrap p {
    text-align: left;
}

/* -----------------------------------------------
    メインコンテンツ 設定
----------------------------------------------- */
.mainContents {
    /*background: #fff;*/
    font-size: 0.8em;
    line-height: 1.9;
    letter-spacing: 2px;
    /*padding: 3em 3em;*/
}
.mainContents table th{
    background: #fbfbfb;
    color: #5a5a5a;
    word-break: keep-all;
}
.mainContents .bookmark {
    text-align: center;
}

.dateName {
    font-size: 1em;
}
.imgThumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.itemContentText {
    font-size: 1.3em;
    margin: 2em 0;
}

.sideContents {}

.mainContents .bg-inner {
    background: #fff;
    padding: 3em;
}
.sideContents .bg-inner {
    background: #fff;
}

/* -----------------------------------------------
    取引連絡の流れ 設定
----------------------------------------------- */
.stepStatus ul li {
    list-style: none;
}
.btn-circle {
    display: inline-block;
    text-decoration: none;
    background: #efede8;
    color: #222;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
}

.btn-circle-ok {
    background: #46b8e0;
}
.stepStatusLine {
    border-bottom: 3px solid #efede8;
    margin-top: -62px;
    margin-bottom: 62px;
}
.stepStatusLineStart {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #46b8e0 10%, #efede8 10%);
    border-image-slice: 1;
}
.stepLineBorderOne {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #46b8e0 40%, #efede8 40%);
    border-image-slice: 1;
}
.stepLineBorderTwo {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #46b8e0 65%, #efede8 65%);
    border-image-slice: 1;
}
.stepLineBorderThree {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #46b8e0 100%, #efede8 100%);
    border-image-slice: 1;
}

@media screen and (max-width: 500px) {
    .stepStatus ul li {
        font-size: 0.5em;
    }
    .btn-circle {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .stepStatusLine {
        margin-top: -48px;
        margin-bottom: 45px;
    }

}

/* -----------------------------------------------
    売切れ 設定
----------------------------------------------- */
.soldOutBadge>div {
    color: #fff;
    font-weight: bold;
    font-size: 1.7em;
    position: absolute;
    top: 18px;
    left: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    letter-spacing: 2px;
    z-index: 2;
}
.soldOutBadge:after {
    border-width: 120px 120px 0 0;
    border-color: #df0c00 transparent transparent transparent;
}
.soldOutBadge:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
}

.btnSoldOut {
    color: #EBEBEB;
    background: #878787;
    /*font-size: 0.8em;*/
}



.soldOutBadgeMini {
    color: #EBEBEB;
    background: #878787;
}
.soldOutBadgeMini>div {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 11px;
    left: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    letter-spacing: 2px;
    z-index: 2;
}
.soldOutBadgeMini:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #df0c00 transparent transparent transparent;
}


/*.soldOutBadgeMini>div {*/
/*    color: #fff;*/
/*    font-weight: bold;*/
/*    font-size: 1em;*/
/*    position: absolute;*/
/*    top: 11px;*/
/*    left: 0px;*/
/*    -webkit-transform: rotate(-45deg);*/
/*    transform: rotate(-45deg);*/
/*    letter-spacing: 2px;*/
/*    z-index: 2;*/
/*}*/
/*.soldOutBadgeMini:after {*/
/*    border-width: 60px 60px 0 0;*/
/*    border-color: #df0c00 transparent transparent transparent;*/
/*}*/
/*.soldOutBadgeMini:after {*/
/*    display: block;*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 1;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-style: solid;*/
/*}*/
/*.soldOutBadgeMini {*/
/*    color: #EBEBEB;*/
/*    background: #878787;*/
/*}*/

@media screen and (max-width: 500px) {
    .soldOutBadgeMini>div {
        font-size: 0.9em;
    }
    .soldOutBadgeMini:after {
        border-width: 50px 50px 0 0;
    }
}

/* -----------------------------------------------
    価格表示 設定
----------------------------------------------- */
.priceOnImg {
    position: relative;
}
.priceOnImg p {
    background: #df0c00;
    color: #fff;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin:0;
    padding:0 8px;
}
.priceOnImg img {
    width: 100%;
}

/* -----------------------------------------------
    コメント部分共通 設定
----------------------------------------------- */
.balloonUser {
    text-align: center;
    font-size: 80%;
}

.balloonUser {
    text-align: center;
    font-size: 80%;
}
.balloonComment {
    font-size: 1em;
}
.balloon {
    position: relative;
    padding: 20px;
    background-color: #F2F1EC;
    color: #333;
    border-radius: 10px;
}
.balloon:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -15px;
    top: 5px;
    border-left: 20px solid #F2F1EC;
    border-top: 20px solid #F2F1EC;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.balloon:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: -20px;
    top: -5px;
    border-left: 20px solid #ffffff;
    border-top: 20px solid #ffffff;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.balloonB {
    background-color: #e9f4ff;
}
.balloonB:before {
    border-left: 20px solid #e9f4ff;
    border-top: 20px solid #e9f4ff;
}
.balloonB:after {
    border-left: 20px solid #ffffff;
    border-top: 20px solid #ffffff;
}
.balloonTime {
    text-align: right;
    color: #999;
    font-size: 80%;
    padding-top: 6px;
}

/* -----------------------------------------------
    サイドバー 設定
----------------------------------------------- */
.searchWrap {
    margin-bottom: 1em;
    padding: 1.5em 0.5em 0;
}
.categoryWrap {}
.categoryWrap h4 {
    background: #0f0f0f;
    color: #fff;
    font-size: 1.0em;
    text-align: center;
    padding: 0.4em 0;
    margin: 0 auto;
}


/* -----------------------------------------------
    フッター 設定
----------------------------------------------- */
#footer a {
    color: #5a5a5a;
}
.copyright {
    /*background: #efefef;*/
    background: #333333;
    color: #fff;
}


/* -----------------------------------------------
    ログイン設定
 ----------------------------------------------- */
.login-wrap {}
.login-button {
    width: 262px;
    height: 94px;
    margin: auto;
}
.login-button a {
    padding: 36px 0 36px 0;
}
#formlogin {
    margin-bottom: 5px;
}
#formlogin .form-signin {
    color:#020B2B;
    max-width: 100%;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: #fff;
    border: 3px dotted rgba(0,0,0,0.1);
}

#formlogin .form-signin-heading {
    font-size:14px;
    font-weight:bold;
    text-align:center;
    margin-top:5px;
    margin-bottom: 5px;
}

#formlogin .form-control {
    position: relative;
    font-size: 12px;
    height: auto;
    padding: 10px;
}

#formlogin input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#formlogin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#formlogin .btn-login-color {
    color:#fff;
    background: #dc3545;
}
#formlogin hr.colorgraph {
    margin-top   :10px;
    margin-bottom:10px;
}
#formlogin .colorgraph {
    height: 2px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.lostpassword {
    margin-bottom: 40px;
}

/* -----------------------------------------------
    ユーザー設定
 ----------------------------------------------- */
.userSidebar {
}
.userSidebar h4{
    background: #0f0f0f;
    color: #fff;
    font-size: 1.0em;
    text-align: center;
    padding: 0.4em 0;
    margin: 0 auto;
}
.linkList a{
    font-size: 0.8em;
}
/* -----------------------------------------------
    ユーザープロフィール設定
 ----------------------------------------------- */
.profileContents {
    background: #fff;
    font-size: 0.8em;
    line-height: 1.9;
    letter-spacing: 2px;
    padding: 0em 3em;
}

.photoWrap {
    position: relative;
    overflow: hidden;
    height: 420px;
}

.photoWrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.profileIconImageWrap {
    margin: -30px 0 0;
}

.profileIconImage {
    text-align: center;
}

.profileIconImage img {
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    object-position: center top;
    width: 96px;
    height: 96px;
}

.profileUserName {
    padding-top: 20px;
}

.profileUserName h1 {
    font-size: 1.7em;
    margin: 0;
}

.profileUserSlash {
    word-break: keep-all;
}

.profileUserSlash:after {
    margin: 0 4px 0;
    content: "/";
}

.profileContents h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.required {
    color: #ffffff;
    font-size: 10px;
    border: 1px solid #ff0000;
    background: #ff0000;
    border-radius: 4px;
    padding: 0 3px;
    margin-left: 5px;
}

/* -----------------------------------------------
    スマートフォン 設定
----------------------------------------------- */
@media screen and (max-width: 767px) {
    .homeContents {
        padding: 0;
    }
    .mainContents {
        padding: 0;
    }
    .mainContents .bg-inner {
        padding: 0.5em;
    }
    .sideContents {
        padding: 0;
    }
    .navbar {
        margin-bottom: 0;
    }
    .photoWrap {
        height: 200px;
    }
}