@font-face {
    font-family: ft-family-1;
    src: url(../font/);
}
@font-face {
    font-family: ft-family-2;
    src: url(../);
}
/* Common Style Define 
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html {
    font-size: 0.625vw;
}
body {
    /* font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝",'Sorts Mill Goudy', "Noto Serif JP", serif;  */
    font-family: Kozuka Gothic Pr6N;
    margin: auto;
    background-color: #FFFFFF;
}
.gothic {
    font-family: "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", HiraKakuProN, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.myriad {
    font-family: Myriad Pro;
}
h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: unset;
    text-decoration: unset;
    color: black;
}
a:hover {
    text-decoration: unset;
    color: rgb(109, 91, 91);
}
.pc-show {
    display: block;
}
.sp-show {
    display: none;
}
.st-none {
    display: none !important;
}
.st-show {
    display: block !important;
}
/* Common Padding and Margin Style Define */
.mt-50 {
    margin-top: 5rem;
}
/* End Common Padding and Margin Style Define */

/* Common Font Size Define */

/* End Common Font Size Define */

/* Common Color Style Define */
.bg-black {
    background-color: black;
}
.bg-yellow {
    background-color: #fcfbfa;
}
.bg-white {
    background-color: white;
}

.clr-white {
    color: white !important;
}
.clr-black {
    color: black !important;
}
.clr-yel {
    color: #71d100 !important;
}
.bg-other-01 {
    background-color: #f7f5f2;
}
/* End Common Color Style Define */
.icon__good__eval {
    color: #ff0054;
    font-size: 2rem;
}
.icon__middle__eval {
    color: #97dd44;
    font-size: 2rem;
}
.icon__bad__eval {
    color: #00c6ff;
    font-size: 2rem;
}
/* End Common Style Define 
////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Common Header Style Define 
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.side-bar {
    width: 75%;
    height: 100%;
    position:fixed;
    top: 0;
    right: -75%;
    background-color: #333333;
    display: none;
  }
  .side-bar .btn-menu {
    position: absolute;
    top: 5px;
    left: -50px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: black;
  }
  .side-bar .btn-menu span {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 30px;
    border-bottom: 4px solid white;
  }
  .side-bar .btn-menu span:nth-child(2) {
    top: 22px;
  }
  .side-bar .btn-menu span:nth-child(3) {
    top: 32px;
  }
  .side-bar button:focus {
    outline: none;
  }
  .side-bar-content {
    margin: 20px;
    border: 1px solid white;
  }
  .side-bar-content__item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid white;
  }
  .side-bar-content__item a {
    font-size: 16px;
    color: white;
  }
  .side-bar-content__item p {
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  .side-bar-content__sm-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    border-bottom: 1px solid white;
  }
  .side-bar-content__sm-item a {
    font-size: 16px;
    display: list-item;
    color: white;
  }
  .confirm__list {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
  }
  .confirm__list a {
    color: white;
    font-size: 16px;
  }
  .side-bar.active {
    animation: slideIn 1s 1;
    animation-fill-mode: forwards;  
  }
    
  .side-bar.none-active{
    animation: slideOut 1s 1;
    animation-fill-mode: forwards;  
  }
    
  @keyframes slideIn {
    to {right: 0%}
  }
    
  @keyframes slideOut {
    from {right: 0}
    to {right: -75%}
}
.com-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100000;
}
.com-header__logo {
    width: 15%;
}
.com-header__logo img {
    width: 100%;
}
.com-header__search {
    width: 40%;
    display: flex;
    align-items: center;
}
.com-header__search input[type="text"] {
    width: 90%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    font-size: 14px;
}
.com-header__search button {
    width: 10%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    font-size: 18px;
}
.com-header-link {
    width: 34%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.com-header-link__txt {
    width: 48%;
}
.com-header-link__txt-item {
    border-radius: 10px;
    padding: 10px;
    display: flex;
}
.com-header-link__txt-item span:nth-child(1) {
    border-right: 1px solid white;
    background-color: #7dc02d;
    padding: 10px;
    border-left: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.com-header-link__txt-item span:nth-child(2) {
    border-left: 1px solid white;
    background-color: #7dc02d;
    padding: 10px;
    border-left: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    color: white;
    width: 100%;
}
.com-header-link__txt:nth-child(2) .com-header-link__txt-item span:nth-child(1) {
    border-right: 1px solid white;
    background-color: #ff7800;
    padding: 10px;
    border-left: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.com-header-link__txt:nth-child(2) .com-header-link__txt-item span:nth-child(2) {
    border-left: 1px solid white;
    background-color: #ff7800;
    padding: 10px;
    border-left: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    color: white;
    width: 100%;
}
.com-header-top {
    position: relative;
}
.com-header-top__img img {
    width: 100%;
}
.com-header-top__path {
    padding: 15px 10%;
}
.com-header-top__path p {
    font-size: 1.6rem;
}
.com-header-top__path p span {
    color: black;
    font-weight: bold;
}
.com-header-top__path p span:nth-child(1){
    color: #71d100;
}
.com-header-top__txt {
    position: absolute;
    top: 30%;
    left: 10%;
}
.com-header-top__txt {
    font-size: 2.6rem;
}
/* End Common Header Style Define 
////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Common Container Style Define
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
.com-container {
    padding: 5rem 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.com-content {
    width: 70%;
}
/* End Common Container Style Define
////////////////////////////////////////////////////////////////////////////////////////////////////// */
.com-sidebar {
    width: 25%;
}
.com-sidebar-profile {
    position: relative;
    width: 100%;
}
.com-sidebar-profile img {
    width: 100%;
}
.com-sidebar-profile-content__img {
    position: absolute;
    top: 10%;
    left: 25%;
}
.com-sidebar-profile-content__img img {
    width: 15rem;
}
.com-sidebar-profile-content__name {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: #0000009c;
    width: 100%;
}
.com-sidebar-profile-content__name p {
    font-size: 1.6rem;
    color: white;
    text-align: center;
}
.com-sidebar__item {
    background-color: #ebe8e5;
    border-left: 1px solid #ebe8e5;
    border-right: 1px solid #ebe8e5;
    border-bottom: 1px solid #ebe8e5;
    padding: 15px 30px;
}
.com-sidebar__item h4 {
    font-size: 1.6rem;
    font-weight: bold;
}
.com-sidebar-item__link {
    border-left: 1px solid #ebe8e5;
    border-right: 1px solid #ebe8e5;
    border-bottom: 1px solid #ebe8e5;
}
.com-sidebar-item__link-txt {
    padding: 15px 30px;
}
.com-sidebar-item__link-txt a{
    font-size: 1.6rem;
}
.com-sidebar-item__link-txt a::before {
    width: 2rem;
    height: 2rem;
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: no-repeat center/contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' transform='translate(1)' fill='gray'/%3E%3C/svg%3E");
}
/* Common Sidebar Style Define 
////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* End Common Sidebar Style Define 
////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Common Footer Style Define 
////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footer-login {
    padding: 5rem 10%;
}
.footer-login-content {
    position: relative;
}
.footer-login-content__img img {
    width: 100%;
}
.footer-login-content-item {
    position: absolute;
  /*  top: 25%;
    left: 37%;
    text-align: center;*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
    text-align: center;
    
}
.footer-login-content-item__txt h4 {
    font-size: 3rem;
    color: white;
}
.footer-login-content-item__txt h3 {
    font-size: 4rem;
    color: white;
    font-weight: 500;
}
.footer-login-content-item__btn {
    display: flex;
    align-items: center;
}
.footer-login-content-item__btn span:nth-child(1)::before {
    content: "";
    padding: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    background: no-repeat center/contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 8 8'%3E%3Cpath d='M4 0c-1.1 0-2 1.12-2 2.5s.9 2.5 2 2.5 2-1.12 2-2.5-.9-2.5-2-2.5zm-2.09 5c-1.06.05-1.91.92-1.91 2v1h8v-1c0-1.08-.84-1.95-1.91-2-.54.61-1.28 1-2.09 1-.81 0-1.55-.39-2.09-1z' fill='white'/%3E%3C/svg%3E");
}
.footer-login-content-item__btn span:nth-child(1) {
    background-color: #ff7800;
    padding: 2.25rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right:2px solid white;
}
.footer-login-content-item__btn span:nth-child(2) {
    background-color: #ff7800;
    padding: 1.5rem 2.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left:1px solid white;
    font-size: 3rem;
    color: white;
}
.footer-login-content-item__btn span:nth-child(2)::after {
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: no-repeat center/contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' transform='translate(1)' fill='white'/%3E%3C/svg%3E");
}
/* End Footer Login Style Define */
/* Footer Style Define */
.footer {
    padding: 5rem 10% 0.5rem 10%;
    background-color: #333333;
    position: relative;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.footer-content-item {
    width: 48%;
}

.footer-content-item__title p {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.footer-content-item-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}
.footer-content-item-link__group {
    width: 45%;
}
.footer-content-item-link__group a::before {
    width: 2rem;
    height: 2rem;
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: no-repeat center/contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' transform='translate(1)' fill='white'/%3E%3C/svg%3E");
}
.footer-content-item-link__group a {
    font-size: 1.6rem;
    color: white;
    margin-left: 1.5rem;
}
.footer-content-item-link__group p {
    margin-top: 1rem;
}
.footer-content-item-link__group p:nth-child(1) {
    margin-top: 1rem;
}
.footer-content-item:nth-child(2) {
    width: 24%;
}
.footer-content-item:nth-child(2) p {
    margin-top: 1rem;
}
.footer-content-item:nth-child(2) p:nth-child(2) {
    margin-top: 2rem;
}
.footer-content-item:nth-child(2) .footer-content-item__title p {
    margin: 0;
}
.footer-content-item__txt::before {
    width: 2rem;
    height: 2rem;
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: no-repeat center/contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' transform='translate(1)' fill='white'/%3E%3C/svg%3E");
}
.footer-content-item__txt {
    font-size: 1.6rem;
    color: white;
}
.footer-content-item:nth-child(2) {
    width: 48%;
}
.footer-content-item:nth-child(3) p:nth-child(2) {
    margin-top: 2rem;
}
.footer-content-item:nth-child(3) .footer-content-item__title p {
    margin: 0;
}
.footer-end {
    padding: 10rem 0 0.5rem 0;
    text-align: center;
}
.footer-content-item-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.footer-end p {
    font-size: 1.2rem;
    color: white;
}
.footer-logo {
    display: none;
    position: fixed;
    bottom: 2rem;
    float: right;
    right: 3rem;
}
.footer-logo img {
    width: 18rem;
}
.footer-content-item__title p {
    margin-top: 0;
}
/* End Common Footer Style Define
//////////////////////////////////////////////////////////////////////////////////////////////////////// */