.main-top__bg{
    background: url(https://teppan.store/common/assets/img/top/top.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .main-top__bg{
        background: url(https://teppan.store/common/assets/img/top/sp-top.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}.main-concept-item-txt__text p {
    font-size: 2.1rem;
}

.main-header.fixed,
.other-main-header.fixed,
.com-header.fixed {
    position: fixed;
    top: 0;
    right: 0;
    background: #fffd;
    font-size: 77%;
    box-shadow: 0px 0px 30px #757575;
    transition: all 300ms 0s ease;
}.fixed+.com-header-top {
    margin-top: 80px;
    position: relative;
    /* transition: all 1000ms 0s ease; */
}

.main-header {
    transition: all 300ms 0s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 100000;
}.other-main-header-link__txt-item a{
    color: #fff!important;
}

.main-top__txt {
  /*display: flex;*/
  overflow: hidden;
  /*color: #aa8f7b;*/
  /*font-family: 'Josefin Sans', sans-serif;*/
}
.main-header-link__txt div a {
    text-decoration: underline;
    font-size: initial; 
}
@media screen and (max-width: 768px) {
    .main-header-link__txt div{
        margin-top: 10px;
    }
    .main-header-link__txt div a {
        text-decoration: underline;
        font-size: 12px !important; 
    }
}
@media screen and (max-width: 400px) {
    .main-header-link__txt div a {
        text-decoration: underline;
        font-size: 10px !important; 
    }
}
.main-top__txt span {
  display: initial;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.main-top__txt.-visible span {
  transform: translate(0, 0);
}

.main-top__txt span:nth-child(2) {
  transition-delay: 0.06s;
}
.main-top__txt span:nth-child(3) {
  transition-delay: 0.12s;
}
.main-top__txt span:nth-child(4) {
  transition-delay: 0.18s;
}
.main-top__txt span:nth-child(5) {
  transition-delay: 0.24s;
}
.main-top__txt span:nth-child(6) {
  transition-delay: 0.30s;
}
.main-top__txt span:nth-child(7) {
  transition-delay: 0.36s;
}
.main-top__txt span:nth-child(8) {
  transition-delay: 0.42s;
}
.main-top__txt span:nth-child(9) {
  transition-delay: 0.48s;
}
.main-top__txt span:nth-child(10) {
  transition-delay: 0.54s;
}
.main-top__txt span:nth-child(11) {
  transition-delay: 0.6s;
}
.main-top__txt span:nth-child(12) {
  transition-delay: 0.66s;
}
.main-top__txt span:nth-child(13) {
  transition-delay: 0.72s;
}
.main-top__txt span:nth-child(14) {
  transition-delay: 0.78s;
}



.main-concept-item-txt__title h2,
.popular-category__title h2 {
    font-size: 4rem;
    margin-bottom:20px;
    font-weight: bold;
}

.pc-view{
    display:block;
}
.sp-view{
    display:none;
}


@media screen and (max-width: 768px) {

    .pc-view{
        display:none;
    }
    .sp-view{
        display:block;
    }

}

.popular-group-column__icon img {
    max-width: 6rem;
    height: 6rem;
    width: initial;
}

.main-concept-item-txt {
    /* left: 31%; */
    top: 34%;
}
@media (max-width: 1400px){
    .main-concept-item-txt {
        /* left: 31%; */
        top: 22%;
    }
}

@media screen and (max-width: 768px) {

    .main-concept-item-txt {
        left: 37%;
        top: 30%;
    }
    .main-concept-item-txt__title h2, .popular-category__title h2 {
        font-size: 4.4rem;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .popular-group-column__icon img {
        max-width: 10rem;
        height: 10rem;
        width: initial;
    }
    .popular-item-group-column {
        padding: 6rem 3rem;
    }

}


.main-concept-item-txt__text p{
    
}

@media screen and (max-width: 551px) {

    .main-concept-item-txt {
        left: 20%;
        top: 30%;
    }
    .main-concept-item-txt__title h2, .popular-category__title h2 {
        font-size: 6.4rem;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .popular-group-column__icon img {
        max-width: 10rem;
        height: 10rem;
        width: initial;
    }
    .popular-item-group-column {
        padding: 6rem 3rem;
    }
    .main-header-link__txt-item span:nth-child(1) {
        border-right: 1px solid white;
        background-color: #7dc02d;
        padding: 3px !important;
        border-left: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .main-header-link__txt-item span:nth-child(2) {
        border-left: none;
        background-color: #7dc02d;
        padding: 3px !important;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 14px;
        color: white;
        width: 100%;
    }
    .main-header-link__txt:nth-child(2) .main-header-link__txt-item span:nth-child(1) {
        border-right: none;
        background-color: #ff7800;
        padding: 3px !important;
        border-left: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

.main-header-link__txt-item span:nth-child(1) {
    border-right: 1px solid white;
    background-color: #7dc02d;
    padding: 10px;
    border-left: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}.main-header-link__txt-item span:nth-child(2) {
    border-left: none;
    background-color: #7dc02d;
    padding: 10px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    color: white;
    width: 100%;
}.main-header-link__txt:nth-child(2) .main-header-link__txt-item span:nth-child(1) {
    border-right: none;
    background-color: #ff7800;
    padding: 10px;
    border-left: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}.main-header-link__txt-item a {
    color: #fff;
}
.newsletter-item__txt a{
    display: none;
}
.com-sidebar-item__link-txt:hover {
    transition: all 300ms 0s ease;
    background-color: #72d101;
    color: #fff;
}
.com-sidebar-item__link-txt:hover a{
    color: #fff;
}
.footer-login-content-item__btn {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.footer-login-content-item__btn span:nth-child(2) {
    background-color: #ff7800;
    padding: 1.6rem 3.1rem;
}
.footer-login-content-item__btn span:nth-child(2)::after{
    display: none;
}

@media screen and (max-width: 768px) { /*768*/
    /*
    .footer-login-content-item__btn span:nth-child(1) {
        padding: 3.4rem 3.25rem!important;
    }*/
    .footer-login-content-item__btn span:nth-child(2) {
        background-color: #ff7800;
        padding: 2.6rem 7.1rem;
    }
    .popular-category-item.row .float-left {
        width: 32%!important;
        margin: 0!important;
        padding: 5px;
    }
    .popular-group-column__txt {
        display: table;
        margin: 0 auto;
        margin-top: 5px;
    }.popular-group-column__txt p {
        vertical-align: middle;
        font-size: 4rem;
        height: 50px;
        display: table-cell;
    }.popular-category-item {
        flex-direction: row;
        margin: 0;
    }

    .main-header-link .main-header-link__txt:nth-child(1) {
        width: initial;
    }.main-header-link .main-header-link__txt:nth-child(2) {
        width: initial;
    }

}

@media screen and (max-width: 768px) { /*768*/
    .popular-group-column__txt p {
        height: 30px;
     }
}

h3.form-signin-heading{
   margin: 20px auto;
  font-size: 4.75rem;
  text-align: center;
}

.login__form {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  color: #bdbdbd;
  display: grid;
  gap: 0.875em;
  padding: 1.25em 1.625em;
}


.login__form input,
.form-signin input,
.form-signin button {
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 20px!important;
  transition: all 0.3s;
}

.login__form input,
.form-signin button[type="submit"] {
  border-radius: 0.1875em;
}

.login__form input[type="text"],
.login__form input[type="password"],
.form-signin input[type="text"]{
  background-color: #eee;
  color: #777;
  padding: 1.25em 0.625em;
  width: 100%;
}

.login__form input[type="submit"],
.form-signin button[type="submit"]
 {
  display: block;
  margin: 0 auto;
  padding: 13px;
}

.lostpassword{
  text-align: center;
  font-size:14px
}
.login_page{
    margin: 80px auto;
}

.com-header__search form{
    width: 100%;
}
.main-header__search input[type="text"],
.com-header__search input[type="text"] {
    width: 90%;
    height: 40px;
    border: none;
    padding: 0 10px;
    background-color: #f2f2f2;
    font-size: 14px;
    box-shadow: 0px 0px 10px #797979;
}
.main-header__search button,
.com-header__search button {
    width: 8%;
    height: 40px;
    padding: 0;
    border: none;
    background-color: #f2f2f2;
    font-size: 18px;
    box-shadow: 0px 0px 10px #797979;
}
@media screen and (max-width: 767px) {
    .main-header__search{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main-header-link__txt-item span:nth-child(1){
        display: none;
    }
    .main-header-link__txt-item span:nth-child(2){
        border-radius: 10px!important;
        text-align: center;
        width: 50%!important;
        border: none!important;
    }
    .main-header-link__txt{
        width: initial;
    }
    

    .main-header-link__txt-item {
        display: initial;
    }.main-header-link {
        flex-direction: row-reverse;
    }
    .main-concept-item-txt__text p{
        font-size: 4.5rem;
    }

}
.footer-login-content-item__btn span:nth-child(1) {
    background-color: #ff7800;
    padding: 2.4rem 2.25rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0px solid white;
}
.footer-logo img{
    z-index: 999999;
    position: relative;
}
.footer-logo img:hover {
    opacity: 0.9;
    border-radius: 100px;
    transition: all 100ms 0s ease;
}

.consept .contents {
    text-align: center;
}
.consept h4 {
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 25px;
    display: inline-block;
    font-weight: bold;
    border-bottom: 4px solid #71d100;
}


.contact-form-content__txt p {
    font-size: 1.6rem;
    line-height: 3.5;
}.contact-form-content__tag input {
    height: 40px;
    font-size: 15px;
}
.ladies-group-column__img-bottom {
    font-size: 1.6rem;
    position: absolute;
   
}
@media screen and (max-width: 768px) {
    .ladies-item-row{
        width:100%;
    }
    .ladies-item-row .ladies-item-row-group:nth-child(1) {
        width: 100%;
    }
    .ladies-item-row .ladies-item-row-group:nth-child(1) .ladies-group-column {
        width: 31%;
        margin-bottom: 10px;
    }.ladies-group-column__price {
        bottom: 10px!important;
    }

}

@media screen and (max-width: 551px) {
    .main-header__search input[type="text"], .com-header__search input[type="text"]{
        width: 80%;
    }
    .main-header__search button, .com-header__search button {
        width: 18%;
        height: 40px;
        padding: 0;
        border: none;
        background-color: #f2f2f2;
        font-size: 14px;
        box-shadow: 0px 0px 10px #797979;
    }.ladies-item-title {
        margin-top: 30px;
    }
}


/* q add 30.3 */
.soldOutBadge {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 6px;
    color: #fff;
    background-color: red;
    text-align: center;
    padding: 5px;
}
.ladies-new-term .row > *{
    flex: 0 0 25%;
    max-width: 25%;
}
.main-header{
    position: sticky;
}
.seller-home .row{
    margin-top: 3rem  !important;
}
.ladies-group-column__img{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0px;
    right: 0px;
}
.p-uercomplete{
    font-size: 1.6rem;
}
.alert{
    font-size: 1.6rem;
}
#contact-form  textarea{
    font-size: 15px;
}
.p-check{
    margin-top: 3rem;
}
.p-check #contact-form{
    margin-top: 3rem;
}
.p-check .sideContents{
    display: none;
}
.p-check .contact-form th:first-child{
    width: 35%;
}
.p-check .contact-form .table{
    margin-bottom: 20px;
}
.u-none{
    display: none;
}
.u-mgauto{
    margin-left: auto;
    margin-right: auto;
}
.c-title1 span{
    border-bottom: 4px solid #71d100;
}
.c-btn01{
    display: block;
    margin: 0 auto;
    padding: 13px;
    border-radius: 0.1875em;
    cursor: pointer;
    background-image: none;
    /* border: none; */
    font: inherit;
   
    font-size: 20px;
    margin-bottom: 20px!important;
    transition: all 0.3s;
    width: 100%;
   
    text-align: center;
    vertical-align: middle;
}
.c-btn01--danger{
    color: #fff;
    background-color: #dc3545;
    border: none;
}
.c-btn01--sm{
    padding: 8px;
}
.c-navSP .side-bar-content__item[data-target]{
    position: relative;
}
.c-navSP .side-bar-content__item[data-target]:after{
    content:"\f078";
    position: absolute;
    top:50%;
    right: 10px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    font-family: "font Awesome 5 Free";
    line-height: 0;
    transition:0.3s;
    
    
}
.c-navSP .side-bar-content__item.active:after{
    transform:rotate(180deg)
    }
.c-navSP .side-bar-content__item:last-child{
    border-bottom: none;
}

.c-navSP{
    background: #ff7800;
}
.c-navSP .confirm__list{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.c-navSP .confirm__list{
    display: none;
}
.c-navSP .confirm__list a{
    display: block;
    padding: 5px;
}
.side-bar.none-active{
    animation: slideOut 0.6s 1;
    animation-fill-mode: forwards;
}
.side-bar.active{
    animation: slideIn 0.6s 1;
    animation-fill-mode: forwards;
}
.side-bar.active .btn-menu span{
    transition: transform 0.4s;
}
.side-bar.active .btn-menu span:nth-child(2){
    opacity: 0;
}
.side-bar.active .btn-menu span:nth-child(1){
    top:50%;
    transform: rotate(45deg)
}
.side-bar.active .btn-menu span:nth-child(3){
    top:50%;
    transform: rotate(-45deg)
}
.table{
    font-size: 1.6rem;
}
.u-mb20{
    margin-bottom: 20px;
}
.priceinfo-table{
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .side-bar{
        transform: translateX(100%);
    }
    .side-bar.none-active{
        transition: all 0.6s;
        animation: none;
    }
    .side-bar.active{
        transform: translateX(0);
        transition: all 0.6s;
        animation: none;
    }
}
@media screen and (max-width: 768px) { /*768*/
    
    .btn{
        font-size: 4.5rem;
        padding: 4px;
    }
    .form-signin input,
    .login__form input,  
    .form-signin button{
        font-size: 4.5rem;
    }
   
    
    .contact-form th,.contact-form td{
        font-size: 12px !important;
        padding: 5px;
    }
    .p-mail .contact-form-content__tag textarea{
        font-size:15px;
    }
    
    .c-btn01{
        font-size: 12px !important;
    }
    .com-sidebar-profile-content__name p{
        font-size: 12px;
    }
    .mypage-selection-sp{
        font-size: 12px;
    }
    .com-sidebar__item h4{
        font-size: 12px;
    }
    table.priceinfo-table th, table.priceinfo-table td{
        padding: 10px
    }
   
    /* login page sp */
    .login__form input[type="text"], .login__form input[type="password"], .form-signin input[type="text"]{
        padding: 10px;
    }
    .login__form input[type="submit"], .form-signin button[type="submit"]{
        padding: 10px;
    }
    
    .login__form{
        max-width: 100%;
    }
    .login_page{
        max-width: 100%;
    }
    /* fontsize sp */
   
    .p-requestDetail .small, .categoryWrap{
        font-size: 4rem;
    }
    .customer-container .card-body{
        font-size: 4rem  !important;
    }
    .p-about,.p-evaluate,.bg-inner,.table,.c-infoDetail .mainContents, .ladies-product-price,.product-list-content__right-item-txt,
    .p-requestDetail .list-group ,.p-requestDetail .sortButton,.categoryWrap h4,.form-control,.consept h4,.lostpassword{
        font-size: 4.5rem;
    }
    .btn-group-sm>.btn, .btn-sm,.alert{
        font-size: 4.5rem !important;
    }
    .contact-form-content__txt p,.soldOutBadge,.conform-submit__btn button{
        font-size: 5rem ;
    }
    .p-about h4,.c-title1{
        font-size: 5.5rem;
    }
    .bg-inner h1,.bg-inner h2,.bg-inner h3{
        font-size: 5.5rem;
        font-weight: bold;
    }
    
   
    
}
.modal-message{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #0000008c; */
    z-index: 999999;
    display: none;
}
.modal-message .modal{
    z-index:999999;
    top: 35%;
}
.modal-message p{
    padding-bottom: 30px;
    font-size: 25px;
}

@media (max-width: 1024px){
    .btn-close{
        font-size: 15px;
    }
}
