.transaction-flow{
    background-color: #DDDDDD;
    height: 143px;
}
.transaction-flow .active p{
    color: white;
}
.flow-step{
    height: 143px;
    width: 29%;
    display: inline-block;
    position: relative;
}
.flow-step img{
    position: absolute;
    height: 143px;
}
.flow-step p{
    position: absolute;
    top: 35%;
    font-size: 30px;
}
.step-1{
    z-index: 100;
}

.step-1 p{
    left: 30%;
}
.step-2{
    margin-left: -75px;
    z-index: 80;
}
.step-2 p{
    left: 40%;
}
.step-3{
    z-index: 50;
    margin-left: -75px;
}
.step-3 p{
    left: 40%;
}
.flow-step4{
    height: 143px;
    display: inline-block;
    position: relative;
    width: 22%;
    margin-left: -55px;
}
.flow-step4 p{
    position: absolute;
    left: 24%;
    top: 35%;
    font-size: 30px;
}
.flow-step4 img{
    position: absolute;
    height: 143px;
}
.change-background{
    background-color: #72D102;
}
.back-step-3{
    background-color:  #DDDDDD;
}

@media(max-width:1024px){
    .transaction-flow{
        height: 90px;
    }
    .flow-step img{
        height: 90px;
    }
    .flow-step p{
        top: 25%;
        font-size: 17px;
    }
    .step-2{
        margin-left: -45px;
    }
    .step-3{
        margin-left: -45px;
    }
    .flow-step4 p{
        top: 24%;
        font-size: 17px;
    }
    .flow-step4{
        width: 24%;
        margin-left: -32px;
    }
    .flow-step4 img{
        height: 90px;
    }
}
@media(max-width:768px){
    .transaction-flow{
        height: 60px;
    }
    .flow-step p{
        top: 15%;
        font-size: 15px;
    }
    .flow-step img{
        height: 60px;
    }
    .step-1 p {
        left: 25%;
    }
    .step-2{
        margin-left: -50px;
    }
    .step-2 p{
        left: 40%;
    }
    .step-3{
        margin-left: -50px;
    }
    .step-3 p{
        left: 40%;
    }
    .flow-step4{
        width: 27.5%;
    }
    .flow-step4 p{
        top: 15%;
        font-size: 15px;
        left:20%;
    }
    .flow-step4 img{
        height: 60px;
    }
}
@media(max-width:576px){
    .transaction-flow{
        height: 50px;
    }
    .flow-step p{
        top: 12%;
        font-size: 12px;
    }
    .flow-step img{
        height: 50px;
    }
    .step-1 p {
        left: 25%;
    }
    .step-2{
        margin-left: -40px;
    }
    .step-2 p{
        left: 40%;
    }
    .step-3{
        margin-left: -40px;
    }
    .step-3 p{
        left: 40%;
    }
    .flow-step4{
        width: 30.9%;
        margin-left: -26px;
    }
    .flow-step4 p{
        top: 12%;
        font-size: 12px;
        left: 24%;
    }
    .flow-step4 img{
        height: 50px;
    }
}
@media(max-width:560px) {
    .transaction-flow {
        display: flex;
        flex-wrap: wrap;
        height: 40px;
        width: 100%;
    }
    .flow-step {
        height: 100%;
        width: calc(100% / 4);
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 15px;
        padding-right: 15px;
    }
    .flow-step p{
        top: 0;
        font-size: 9px;
        position: relative;
        left: 0!important;
    }
    .flow-step img{
        height: 40px;
        display: block;
    }
    .step-1 p {
        left: 25%;
        position: relative;
        left: 0;
    }
    .step-2{
        margin-left: -15px;
    }
    .step-2 p{
        left: 40%;
    }
    .step-3{
        margin-left: -15px;
    }
    .step-3 p{
        left: 40%;
    }
    .flow-step4{
        margin-left: -5px;
        height: 100%;
        width: auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
    }
    .flow-step4 p{
        font-size: 9px;
    }
    .flow-step4 img{
        height: 40px;
    }
}
.modalFeedback{
    padding-right: 10px; 
    display: none;
    top:15%
}
.modalFeedback .modal-content{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 80vh;
    overflow-y: scroll;
}
.modalFeedback .close{
    margin: -3rem -1rem -1rem auto;
}
.link-img-mark{
    display: block;
    text-align: right;
    font-size: 14px;
    color:#0070C0;
    min-height: 20px;
}
.fr-feedback{
    margin-top: -50px;
}
.btn-upFb{
    padding: 8px 20px;
    font-size: 12px;
}
.typeScore{
    border: 1px solid #5B9BD5;
    padding: 5px 15px;
    background-color: #5B9BD5;
    color: white;
}
.under-welcome{
    margin-top:-8%;
}
@media(max-width:1620px){
    .under-welcome{
        margin-top:0;
    }
}
.format-col{
    width: 33%;
}
.row-btn-welcom{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.active .btn-menu{
    left: -50px!important;
}
@media(min-width:1024px){
    .side-bar{
        width: 35%;
    }
    .side-bar .btn-menu{
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
    .active .btn-menu{
        left: 0!important;
    }
/* @media(min-width:1850px){
    .side-bar .btn-menu{
        left: -121%;
    }
    
}
@media(min-width:1760px) and (max-width:1840px){
    .side-bar .btn-menu{
        left: -122%;
    }
}
@media(max-width:1760px) and (min-width:1740px){
    .side-bar .btn-menu{
        left: -122%;
    }
}

@media(max-width:1740px) and (min-width:1680px){
    .side-bar .btn-menu{
        left: -122%;
    }
}
@media(max-width:1680px) and (min-width:1450px){
    .side-bar .btn-menu{
        left: -123%;
    }
}
@media(max-width:1450px) and (min-width:1224px){
    .side-bar .btn-menu{
        left: -125%;
    }
}
@media(max-width:1224px) and (min-width:1024px){
    .side-bar .btn-menu{
        left: -127%;
    }
} */
/* @media (min-width:769px){
    .side-bar .btn-menu{
        display: None;
    }
} */
@media (max-width: 768px) {
    .ladies-group-column__img-bottom{
        font-size: 5.6rem!important;
    }
    .title-detail h3{
        font-size: 4.6rem;
    }
    .customer-container p{
        font-size: 3.5rem;
    }
    p{
        font-size: 4.5rem!important;
    }
    a{
        font-size: 4.5rem!important;
    }
    input{
        font-size: 3.5rem!important;
    }
    textarea{
        font-size: 3.5rem!important;
    }
    h2{
        font-size: 5rem!important;
    }
    .popular-group-column__txt p{
        font-size: 4rem!important;
    }
    .main-header-link__txt-item span{
        font-size: 4rem!important;
    }
    .main-header-link__txt-item span:nth-child(2){
        font-size: 4rem!important;
    }
    .priceinfo-table tr{
        font-size: 3.5rem;
    }
    .transaction-btn form button.buy_by_bank_transfer, .transaction-file-btn button{
        font-size: 4.5rem;
    }
    .linkList h4{
        font-size: 3.5rem;
    }
    .transaction-btn{
        position: relative;
        z-index: 10000;
    }
    .table-bordered-add th ,.table-bordered-add td{
        font-size: 2.5rem;
    }
    .required-add{
        font-size: 3rem;
    }
    .radio-inline span{
        font-size: 3.5rem;
    }
    .small-add{
        font-size: 3rem;
    }
    .font-2rem{
        font-size: 3rem;
    }
    .input-group-sm>.input-group-prepend>.input-group-text{
        font-size: 3rem;
    }
    .consept h3 {
        text-align: center;
        font-size: 6.2rem;
        line-height: 12rem;
    }
    .consept p {
        font-size: 3rem!important;
    }
}
@media (max-width: 460px){
    .main-header-link__txt-item{
        padding: 2px;
    }
}
@media (max-width: 280px){
    .main-header-link__txt-item{
        padding: 0px;
    }
}