.alert{
    margin-top:20px;
}
.product-info h3 {
    font-weight: bold;
}
.product-info:first-child{
    margin-top: 0px;
}
.main-header__search form{
    width: 100%;
}
.ladies-group-column {
    background-size: cover!important;
    background-position: center center!important;
    /* margin: 0.5%; */
    width: 24%;
    margin-bottom: 10px; 
    height: auto;
    /* padding-top: 100%; */
    position: relative;
}
.ladies-item-row-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.ladies-group-column:before {
    content: "";
    display: block;
    padding-top: 90%;
    /* ここを100％にすることで正方形になる */
}
.ladies-group-column__img img {
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}.ladies-group-column__price p span {
    background-color: #0000005c;
    padding: 5px 10px;
}
.prof {
    background-size: cover!important;
    background-position: center center!important;
    height: auto;
    position: relative;

}
.prof::before {
    content: "";
    display: block;
    padding-top: 100%; /* ここを100％にすることで正方形になる */
}

/* 安藤 */
.content-title h3{
padding-bottom: 5px;
font-size: 5rem;
}

.content-title h3 span{
   padding-bottom: 15px;
    }
.product-info{
 margin-top: 0px;
 margin-bottom: 70px;
}
.product-info h3{
font-size: 4rem;
margin-bottom: 20px;
}
.product-info p{
margin-top: 10px;
margin-bottom: 5px;
font-size: 3rem;
}

.purchase-wishes-content-title input[type="text"]{
margin-top: 0px;
}

.custom-file{
    margin-top: 1rem;
}

.purchase-wishes-content__content textarea{
    margin-top: 1rem;
}
.purchase-wishes-content__content{
    margin-top: 0px;
}

.product-info-select select{
    margin-top: 0px;
}
.product-info-select{
    margin-top: 0px;
}

.product-info .product-detail-memo{
    font-size: 1.5rem;
    margin-top: 5px;
}

.each-product{
    margin-bottom: 30px;
}

.product-info .price-memo{
    font-size: 3rem;
    display: inline;
    margin-left: 10px;
}

.label-add{
    margin-left: 10px;
    font-size: 1.6rem!important;
    color: red;
}

.sell-form-end{
    margin-right: 20px;
}

.add-check{
    margin-top: 3px;
}

.check-margin{
    margin-top: -50px;
}
.custom-file  > label {
    vertical-align: middle;  /* これだけではダメで、  */
    display: block;      /* この設定が重要        */
} 

.product-info-add{
    border-bottom: 1px solid #e8e8e8;
}


.qnego-sm-title-add{
    letter-spacing: 1.2px;
    margin-top: -20px;
}

.table-add th ,.table-add td{
padding: 10px;
}

.term-contents{
    width: 90%;
    margin-bottom: 50px;
}

.title-add{
    border-bottom: none;
    padding-bottom: 0px;
}

.sell-form-btn-add button:nth-child(1){
    width: 100%;
}

.product-confirm-add{
    padding: 10px 0;
    font-size: 1.6rem;
    border-radius: 10px;
}
.product-confirm-add button:focus {
    outline: none;
}
.product-confirm-add button:hover {
    opacity: 0.7;
    background-color: initial;
}

.form-check-label-add{
    margin-left: 10px;
}

.table-bordered-add {
    margin-top: 30px;
display: table;
  
}
.table-bordered-add th{
    vertical-align: middle;
}

.form-check-account-add{
    display: inline;
    margin: 0 20px;
}

.account-add{
    padding: 10px 0;
}

.table-bordered-add tr{
    padding: 20px 0;
}
.newsletter-item__txt a{
    display: none;
}

.add-product-contents{
    margin: 10px 0;
}

.add-product-detail{
    margin-top: 10px;
}

.btn-info:hover{
    background-color: initial;
    border-color:  #7dc02d;
    color:  #7dc02d;
}

.product-confirm-add-2{
    padding: 10px 0;
    font-size: 1.6rem;
    border-radius: 10px;
    background-color: #7dc02d;
    border-color: #7dc02d ;
}


.product-confirm-add-2 button:focus {
    outline: none;
}
.product-confirm-add-2 button:hover {
    opacity: 0.7;
    background-color: initial;
}

.table-bordered-add th,.table-bordered-add tr ,.table-bordered-add td{
    font-size: 2rem;
    vertical-align: middle;
}

.required-add{
    color: red;
    font-size: 1rem;
    font-weight:100;
 
}

.form-control{
    height: 30px;
}


.pass-add span{
    margin-right: 10px;
    padding-top: 5px;
}

td.pass-add{
    padding-left: 10px;
    text-align: left;
}

.small-add{
    font-size: 1rem;
}

.footer-logo{
    z-index: 999;
}

.category-title{
    border-bottom: 2px solid #efefef;
    width: 80%;
    margin: 30px auto;
}

.category-title h3{
    font-size: 4rem;
}

.mypage-selection-sp{
    display: none;
}
@media screen and (max-width: 767px) {
   
.table-bordered-add th,.table-bordered-add tr ,.table-bordered-add td{
    font-size: 1.8rem;
  }

.product-confirm-add-2{
   margin: 20px 0;
}


.purchase-wishes-content__content{
    margin-top: 3rem;
}

.account-h1{
    font-size: 3rem;
    margin-bottom: -20px;
    margin-top: 20px;
}

.custom-file-add{
    margin-bottom: 30px!important;
}

.com-sidebar{
    width: 100%;
}

.category-title{
    margin: 10px auto;
}

.mypage-selection-sp{
    display: block;
}
.sp-side-add{
    margin-top: 50px;
}

.add-mapage-link{
    padding: 10px 30px!important;
}
.com-sidebar__item-sp-add{
    margin-top: 15px;
}