html{
    font-size: 10px;
}

.alert{
    margin-top:20px;
}
.back-login {
    color: #0056b3;
    font-weight: bold;
}
.back-login > a:hover{
    color: #155724;
}
.product-info h3 {
    font-weight: bold;
}
.product-info:first-child{
    margin-top: 0px;
}
.main-header__search form{
    width: 100%;
}
.ladies-group-column {
    background-size: cover!important;
    background-position: center center!important;
    /* margin: 0.5%; */
    width: 24%;
    margin-bottom: 10px; 
    height: auto;
    /* padding-top: 100%; */
    position: relative;
}
.ladies-item-row-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.ladies-group-column:before {
    content: "";
    display: block;
    padding-top: 90%;
    /* ここを100％にすることで正方形になる */
}
.ladies-group-column__img img {
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}.ladies-group-column__price p span {
    background-color: #0000005c;
    padding: 5px 10px;
}
.prof {
    background-size: cover!important;
    background-position: center center!important;
    height: auto;
    position: relative;

}
.prof::before {
    content: "";
    display: block;
    padding-top: 100%; /* ここを100％にすることで正方形になる */
}

/* 安藤 */
.content-title h3{
padding-bottom: 5px;
}

.content-title h3 span{
   padding-bottom: 15px;
    }
.product-info{
 margin-top: 0px;
 margin-bottom: 70px;
}
.product-info h3{
margin-bottom: 20px;
}
.product-info p{
margin-top: 10px;
margin-bottom: 5px;
}

.purchase-wishes-content-title input[type="text"]{
margin-top: 0px;
font-size: 1.8rem;
}

.custom-file{
    margin-top: 1rem;
}

.purchase-wishes-content__content textarea{
    margin-top: 1rem;
}
.purchase-wishes-content__content{
    margin-top: 0px;
}

.product-info-select select{
    margin-top: 0px;
}
.product-info-select{
    margin-top: 0px;
}

.product-info .product-detail-memo{
   /* font-size: 1.5rem;*/
    margin-top: 5px;
}

.each-product{
    margin-bottom: 30px;
}

.product-info .price-memo{
 /*   font-size: 3rem;*/
    display: inline;
    margin-left: 10px;
}

.label-add{
    margin-left: 10px;
  /*  font-size: 1.6rem!important;*/
    color: red;
}

.sell-form-end{
    margin-right: 20px;
}

.add-check{
    margin-top: 3px;
}

.check-margin{
    margin-top: -50px;
}
.custom-file  > label {
    vertical-align: middle;  /* これだけではダメで、  */
    display: block;      /* この設定が重要        */
} 

.product-info-add{
    border-bottom: 1px solid #e8e8e8;
}


.qnego-sm-title-add{
    letter-spacing: 1.2px;
    margin-top: -20px;
}

.table-add th ,.table-add td{
padding: 10px;
}

.term-contents{
    width: 90%;
    margin: 0 auto 50px auto;
}

.title-add{
    border-bottom: none;
    padding-bottom: 0px;
}

.sell-form-btn-add button:nth-child(1){
    width: 100%;
}

.product-confirm-add{
    padding: 10px 0;
  /*  font-size: 1.6rem;*/
    border-radius: 10px;
}
.product-confirm-add button:focus {
    outline: none;
}
.product-confirm-add button:hover {
    opacity: 0.7;
    background-color: initial;
}

.form-check-label-add{
    margin-left: 10px;
}

.table-bordered-add {
    margin-top: 30px;
display: table;
  
}
.table-bordered-add th{
    vertical-align: middle;
}

.form-check-account-add{
    display: inline;
    margin: 0 20px;
}

.account-add{
    padding: 10px 0;
}

.table-bordered-add tr{
    padding: 20px 0;
}
.newsletter-item__txt a{
    display: none;
}

.add-product-contents{
    margin: 10px 0;
}

.add-product-detail{
    margin-top: 10px;
}

.btn-info:hover{
    background-color: initial;
    border-color:  #7dc02d;
    color:  #7dc02d;
}

.product-confirm-add-2{
    padding: 10px 0;
  /*  font-size: 2rem;*/
    border-radius: 10px;
    background-color: #7dc02d;
    border-color:#7dc02d  ;
}


.product-confirm-add-2 button:focus {
    outline: none;
}
.product-confirm-add-2 button:hover {
    opacity: 0.7;
    background-color: initial;
}

.table-bordered-add th,.table-bordered-add tr ,.table-bordered-add td{
  /*  font-size: 2rem;*/
    vertical-align: middle;
}

.required-add{
    color: red;
/*    font-size: 1rem;*/
    font-weight:100;
 
}
/*
.form-control{
    height: 45px;
}
*/
.form-group{
    margin: 20px 0;
}

.pass-add span{
    margin-right: 10px;
    padding-top: 5px;
}

td.pass-add{
    padding-left: 10px;
    text-align: left;
}
/*
.small-add{
    font-size: 1rem;
}
*/
.footer-logo{
    z-index: 999;
}

.category-title{
    border-bottom: 2px solid #efefef;
    width: 80%;
    margin: 30px auto;
}
/*
.category-title h3{
    font-size: 4rem;
}*/

.mypage-selection-sp{
    display: none;
}
/*
.newsletter-item-content__link-date,
.newsletter-item-content__link-txt,
.ladies-group-column__img-bottom,
.ladies-item-title__txt a,
.main-header-link__txt:nth-child(2) .main-header-link__txt-item span:nth-child(2)
{
    font-size: 2rem;
}
.main-header-link__txt-item span:nth-child(2){
    font-size: 2rem!important;
}

.ladies-item-title__txt h3 span{
    font-size: 4rem;
}*/
.ladies-item-row-group{
    margin-bottom: 50px;
}

.ladies-group-column__img-bottom{
    height: 50px;

    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;}
/*
.ladies-product-list__title p{
    font-size: 5rem;
}

.product-list-content__right-item-title p{
    font-size:2rem;
}

.product-list-content__right-item-txt a,
.product-list-content__right-item-txt p
{
    font-size: 2rem;
}
*/
.popular-group-column__txt {
    display: table;
    margin: 0 auto;
    margin-top: 5px;
}
.popular-group-column__txt p {
    vertical-align: middle!important;
    height: 50px!important;
    padding-top: 10px!important;
    display: table-cell!important;
}
.popular-category-item {
    flex-direction: row;
    margin: 0;
}
/*
.ladies-product-price__txt p span{
    font-size: 5rem;
}
*/
.ladies-product-btn button{
  /*  font-size: 3rem;*/
    display: block;
}

.ladies-product-btn .buy-form button{
    padding: 10px 10rem;
}
/*
.product-list-content__bottom p,
.ladies-product-content p
{
    font-size: 2rem;
}

.product-list-content__right-bottom a{
    font-size: 2rem;
}

.transaction-info-flow__bottom p,
.transaction-refer p,
.transaction-bottom p
{
    font-size: 2rem;
}
*/
.transaction-file-down p{
  /*  font-size: 2rem;*/
    margin: 20px 0;
}


{
    justify-content: center;
}
/*
.transaction-btn form button.buy_by_bank_transfer,
.transaction-file-btn button
{
    font-size: 2.5rem;
}

.transaction-bottom p span{
    font-size: 3rem;
}
textarea.form-control{
    font-size: 2rem;
}
.transaction-info__lead p span{
    font-size: 3.5rem;
}
*/
.seller-evaluation__title p{
  /*  font-size: 3.5rem;*/
    color: black;
}
/*
.service-term h3, .priceinfo-inner h3{
    font-size: 3rem;
}
.priceinfo-table{
    font-size: 2.5rem!important;
}
.priceinfo-inner p{
    font-size: 2rem;
}

.content-group-item__date,
.content-group-item__txt{
   font-size: 2rem;
}
*/
.content-group-pagination{
    justify-content: center;
}

.pagination__num{
    margin: 0 20px;
}
/*
.purase-request-info p{
    font-size: 2rem;
}
*/
.btn-group-lg>.btn, .btn-lg{
    padding: 1rem 2rem;
    margin: 30px 0;
}

.btn-info{
    background-color: #7dc02d;
    border-color:#7dc02d  ;
    color: #ffffff;
}
/*
.customer-container p{
    font-size: 2rem;
}
*/
.btn-req-add{
    width: 25%!important;
}

.admin-container{
    padding-top: 70px!important;
}

.bg-danger{
    background-color:#7dc02d !important;
   font-size: 2.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#7dc02d !important;
}
/*
.input-group-sm>.custom-select, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text{
    font-size: 1.5rem;
}

.linkList h4{
    font-size: 2.5rem;
}
*/
.linkList h4::before{
    content: ' ▼';
    color:#7dc02d ;
    letter-spacing: 2px;
}

.admin-content-title h1{
 /*   font-size: 3rem;*/
    border-bottom: 3px solid #7dc02d; 
}
/*
.linkList a{
    font-size: 1.9rem;
}
*/
.list-group{
margin: 20px 0 30px;
font-size: 1.7rem;
}
/*
.font-2rem{
    font-size: 2rem;
}
.font-18rem{
    font-size: 1.8rem;
}

.form-control{
    font-size: 2rem;
}

.itemlist-wrap{
    font-size: 1.6rem;
}
*/
/*
.form-control-register{
    height: calc(1.5em + .75rem + 2px)!important;
}
*/
.nav-link{
    padding: .5rem 2rem;
}

.sp-only{
    display: none;
}

.main-header__search input[type="text"], .com-header__search input[type="text"]{
    font-size: 18px;
}
.product-list-content__bottom p i,
.icon__good__eval,
.icon__middle__eval,
.icon__bad__eval
{
    vertical-align: bottom;
}
/*
.colorgraph{
    margin-bottom: 4rem;
}
.leave{
    font-size: 2rem;
}
*/
.class-about-leave{
margin: 20px 0 10px 0;
}

/*
h2{
    font-size: 3rem;
}

li,p{
    font-size: 2rem;
}

h3{
    font-size: 2.5rem;
}
*/

.fontRed{
 color: red;   
}
/*
.block-p{
    font-size: 2rem;
}

.table-responsive{
    font-size: 2rem;
    margin-top: 2rem;
}
*/
.form-control-block{
height: calc(1.5em + .75rem + 2px);
}
.help-content{
    margin: 50px 0;
}
li.page-item{
    padding: 0 10px;
}
/*
.font40{
    font-size: 4rem;
}

.btn-group-sm>.btn, .btn-sm{
    font-size: 2rem;
}
*/
.custom-control-inline{
    margin: 0 5rem;
}
/*
.custom-control-label::before{
    width: 3rem;
    height: 3rem;
    top: 0;
    left: -4.5rem;
}
*/
.kiyaku-cancel{
width: 100%;
display: block;
margin-top: 20px;
}

.ladies-item-title__txt{
    display: flex;
    align-items: flex-end;
}

.sp-only{
    display: none;
} 

.pc-only{
    display: block;
}

.category-title h3 {
    font-size: 3rem;
}
/*
p,a{
    font-size: 1.5rem!important;
}
*/
.btn{
    font-size: 2rem;
}
.font10{
    font-size: 1.8rem;
}

.customer-contact-form{
    padding: 10px 0;
    margin: 0 auto;
    width: 80%;
}
/*
.priceinfo-table{
    font-size: 2rem!important;
}
*/

.contact-form-content__txt{
    width: 25%;
}
/*
.form-control{
    font-size: 1.8rem!important;
}
*/
/* span.smallEX{
    font-size: 1.5rem!important;
} */

.admin-page{
font-size: 1.5rem;
}
.admin-page p,.admin-page a{
    font-size: 1.5rem!important;
}

.admin-page .form-control{
    font-size: 1.8rem!important;
}
.footer-login-content-item__btn span:nth-child(1)::before{
    width: 20px;
    height:20px ;
    margin-right: 30px;
}
.footer-login-content-item__btn span:nth-child(1){
    border-radius: 10px;
    padding: 10px 30px!important;
    color: #ffffff;
    font-weight: 800;
    font-size: 3rem;
}

.footer-login-content-item__txt h4{
font-size: 2.5rem;
}
.footer-login-content-item__txt h3{
    font-size: 3.5rem;
}
.table-responsive th,
.table-responsive td{
    padding-left: 0;
    padding: 5px 10px;
}
.main-top__txt h2{
    font-size: 3.4rem;
}

.admin-mail-send{
   margin: 20px auto;
}

.item-list-admin{
    margin: 30px 0 50px;
}

.admin-info-list{
    margin: 50px 0;
}

.admin-img{
    width: 90%;
    margin:0 auto;
    margin-top: 30px;
}
.custom-switch{
    padding-left: 50px;
    font-size: 1.7rem;
}
.custom-switch .custom-control-label::before{
    left: -4.5rem;
}
.custom-control-label::before{
    height: 20px;
}
.custom-switch .custom-control-label::before{
    width: 40px;
    border-radius: 50px;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after{
    transform: translateX(20px);
}
.custom-switch .custom-control-label::after{
    left: calc(-4.5rem + 2px);
    width: 15px!important;
    height: 15px!important;
    border-radius: 50px!important;
}

input[type=checkbox], input[type=radio]{

   vertical-align: middle; 
}
.account-kind{
    margin-left: 5px;
}
.c-navSP .side-bar-content__item[data-target]:after{
    font-family: FontAwesome!important;
}
@media screen and (max-width: 767px) {
    html{
        font-size: 0.625vw;
    }

    .custom-switch{
        padding-left: 50px;
        font-size: 5rem;
    }
    .custom-switch .custom-control-label::before{
        left: -50px;
    }
    .custom-control-label::before{
        height: 20px;
    }
    .custom-switch .custom-control-label::before{
        width: 40px;
        border-radius: 50px;
    }
    .custom-switch .custom-control-label::after{
        left: calc(-50px + 2px);
        width: 15px!important;
        height: 15px!important;
        border-radius: 50px!important;
    }

.footer-login-content-item__btn span:nth-child(1)::before{
    width: 20px;
    height:20px ;
    margin-right: 20px;
}

.footer-login-content-item__btn span:nth-child(2){
    padding: 12.5px 30px!important;
}
.footer-login-content-item__btn span:nth-child(1){
 
    font-size: 6rem;
}

.footer-login-content-item__btn{
    justify-content: center;
}
.footer-login-content-item{
    width: 300px;
}
    
.footer-login-content-item__txt h4{
    font-size: 5.5rem;
    }
    .footer-login-content-item__txt h3{
        font-size: 6.5rem;
    }
    .admin-page .form-control{
        font-size: 5rem!important;
    }
    .admin-page p, .admin-page a{
        font-size: 4.5rem!important;
    }
.ladies-item-title__txt a{
    width: 80px;  
    margin-left: 30px;
   }

   .input-group-sm>.custom-select, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text{
       font-size: 4.5rem;
   }
  .sp-only{
      display: block;
  } 
  .pc-only{
    display: none;
}
.admin-content-title h1{
    margin-bottom: 20px;
}

.table-bordered-add th,.table-bordered-add tr ,.table-bordered-add td{
    font-size: 1.8rem;
  }

.product-confirm-add-2{
   margin: 20px 0;
}


.purchase-wishes-content__content{
    margin-top: 3rem;
}

.admin-page{
   margin-bottom: 50px;
    }

.account-h1{
    font-size: 3rem;
    margin-bottom: -20px;
    margin-top: 20px;
}

.custom-file-add{
    margin-bottom: 30px!important;
}

.com-sidebar{
    width: 100%;
}

.category-title{
    margin: 10px auto;
}

.mypage-selection-sp{
    display: block;
}
.sp-side-add{
    margin-top: 50px;
}

.add-mapage-link{
    padding: 10px 30px!important;
}
.com-sidebar__item-sp-add{
    margin-top: 15px;
}

.ladies-item-row .ladies-item-row-group:nth-child(1) .ladies-group-column{
margin-bottom: 60px!important;
}

.ladies-item-row-group{
    margin-bottom: 5px;
    margin-top: 10px;
}

.ladies-item-title{
    margin-top: 15px!important;
}

.popular-group-column__txt p {
    padding-top: 0px!important;
    font-size: 4.5rem!important;
}


.ladies-item-title__txt h3 span{
    font-size: 6rem;
}

.category-title{
    display: none;
}

.content-title h3 span{
    font-size: 6rem;
}
.content-title h3 span{
    padding-bottom: 7px;
}

.ladies-product-list-content{
    margin-top: 40px;
}

.ladies-product-price__txt p span{
    font-size: 10rem;
}

.transaction-info{
    margin: 30px 0;
}

.ladies-product-price__txt p{
    margin:10px 0 ;
}
.transaction-info__lead p span{
    font-size: 6rem;
}
.transaction-info__lead{
    margin-top: 30px;
}
.seller-evaluation__title{
    margin: 30px 0!important;
}

.service-term h3, .priceinfo-inner h3{
    font-size: 8rem;
}

.content-group-item__date,
.content-group-item__txt{
   font-size: 5rem;
}

.pagination__num{
    margin: 0 5px;
}

.btn-req-add{
    width: 50%!important;
}


.btn-group-lg>.btn, .btn-lg{
    margin: 15px 0;
}
.main-header
{
height: 60px;
}

.main-header__logo{
    width: 118px;
}
.main-header-link{
    width: 60%!important;
}

.newsletter-item-content__link-date,
.newsletter-item-content__link-txt,
.ladies-group-column__img-bottom,
.ladies-item-title__txt a,
.main-header-link__txt:nth-child(2) .main-header-link__txt-item span:nth-child(2)
{
    font-size: 4.5rem;
}
.main-header-link__txt-item span:nth-child(2){
    font-size: 4.5rem!important;
}

.product-info .price-memo{
    font-size: 4.5rem!important;
}

.ladies-item-title__txt h3 span{
    font-size: 7rem!important;
}

.p-about, .p-evaluate, .bg-inner, .table, .c-infoDetail .mainContents, .ladies-product-price, .product-list-content__right-item-txt, .p-requestDetail .list-group, .p-requestDetail .sortButton, .categoryWrap h4, .form-control, .consept h4, .lostpassword{
    font-size: 6rem!important;
}

.itemContentText{
    font-size: 6rem!important;
}
 .consept h4{
    font-size: 6rem!important;
}

.customer-container p,
.product-list-content__right-bottom a
{
    font-size: 5rem!important;
}

.product-list-content__right-item-txt a, 
.product-list-content__right-item-txt p{
    font-size: 5rem!important;
}

.colorgraph{
    margin-bottom: 30px;
}
.form-signin input, .login__form input, .form-signin button{
    font-size: 5rem!important;
}
.custom-file-label::after{
    height: 38px!important;
}
.product-info h3{
    font-size:7rem!important;
}
.product-info p,
.bg-inner p{
    font-size:5rem!important;
}
.purchase-wishes-content-title input[type="text"]{
    font-size:5rem!important;
}

.bg-inner h1{
    font-size: 7.5rem!important;
}
 .bg-inner h2{
    font-size: 7rem!important;
}
.bg-inner h3{
    font-size: 6.5rem!important;
}


.priceinfo-inner table{ 
    font-size: 5rem!important;
}

.block_list {
    margin-top: 30px;
  
}

h2{
    font-size: 6rem!important;
}

.icon__good__eval,
.icon__middle__eval,
.icon__bad__eval
{
    vertical-align:sub;
}

.review-tab{
padding: 10px;
border-bottom: 1px solid #dee2e6;
}

.table-bordered-add th, .table-bordered-add tr, .table-bordered-add td{
    font-size: 4rem!important;
}
.table td, .table th{
    padding: 2rem;
    vertical-align: middle;
}

.form-check-label-add{
margin-left: 20px;
}

.content-group-pagination
{
    font-size: 4rem!important;
}

.recommend-size{
    font-size: 3rem;
}

.leave{
    font-size: 4rem;
}
.bg-danger{
    font-size: 5rem!important;
}

.linkList h4{
    font-size: 6.5rem!important;
    margin-top: 20px;
}
.linkList a{
    font-size: 5.5rem!important;
    padding: 5px 0;
}
.itemlist-wrap{
    font-size: 4.5rem;
}
li, p ,a{
    font-size: 4.5rem!important;
}

.font-2rem{
    font-size: 6rem;
}
.font40{
    font-size: 7.5rem;
}
.list-group{
    margin: 5px 0 20px;
}
.admin-info-list{
    margin: 30px 0;
}

.custom-control-inline{
    margin: 0 15rem;
}
/*
.custom-control-label::before{
    width: 6rem;
    height: 6rem;
    top: 2px;
    left: -7.5rem;
}
*/

.conform-submit__btn{
    padding: 30px 30px!important;
    font-size: 5rem;
}
.table-cate{
    margin-top: 50px;
}

