.table td,.table th{
    padding: 10px;
}
.radio-inline input + span{
    padding-left: 5px;
}
.form-check-account-add {
    display: inline-flex;
    align-items: center;
}
.sp-only{
    display:none;
}
button[type="submit"]:focus,input[type="submit"]:focus{
    outline:none;
}
body{
    font-size: 1.6rem;
}
.pagination__num{
    margin: 0 2%;
    flex-shrink: 0;
}
.footer-logo img{
    width: 10vw;
    max-width: 170px
}
.p-check{
    margin-top: 40px
}
.obligatory {
    font-size: 12px;
    color:#ee0e0e;
    font-weight: normal;
    display: inline-block;
}
.slick-slide {
    margin: 10px
}
#new_slider .slick-prev:before,
#new_slider .slick-next:before {
    color : black !important;
}
#highlight_slider .slick-prev:before,
#highlight_slider .slick-next:before {
    color : black !important;
}
@media screen and (max-width: 768px){
    .product-info p{
        font-size: 5.5rem !important;
    }
    .bg-inner p {
        font-size: 5rem!important;
    }
    .table td,.table th{
        padding: 5px;
    }
    .product-confirm-add-2{
        padding-top:10px;
        padding-bottom: 10px;
    }
    h2{
        font-size: 5.5rem;
    }
    .font10{
        font-size: 4.5rem;
    }
    .sp-only{
        display:block;
    }
    body{
        font-size: 1rem;
    }
    .com-container{
        padding-left:10%;
        padding-right: 10%;
    }
    .custom-file-add{
        margin-bottom: 15px !important;
    }
    .p-about, .p-evaluate, 
    .bg-inner, .table, 
    .c-infoDetail .mainContents, .ladies-product-price, 
    .product-list-content__right-item-txt, .p-requestDetail .list-group, 
    .p-requestDetail .sortButton, .categoryWrap h4, 
    .form-control, .consept h4, .lostpassword{
        font-size: 5rem;
    }
    .pagination__num{
        border-radius: 8px;
    }
    .contact-form th, .contact-form td{
        font-size: 5rem !important;
    }
    .c-btn01{
        font-size: 5rem !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .c-btn01--sm{
        padding-top: 6px;
        padding-bottom: 6px
    }
    .alert{
        padding-top: 6px;
        padding-bottom: 6px;
    }
    /*  */
    .main-header__search input[type="text"], .com-header__search input[type="text"]{
        box-shadow: 0px 0px 6px #797979;

    }
    .main-header__search button, .com-header__search button{
        
    box-shadow: 0px 0px 6px #797979;
    }
}

/* header */

.main-header__search form{
    display: flex;
}
.com-header__search form{
    display: flex;
    margin-bottom: 0;
}
.main-header__search button, .com-header__search button{
    min-width: 25px;
}
/* form */
.form-control{
    height: 45px;
}
.c-form01 input[type="text"],.c-form01 textarea, .c-form01 input[type="number"]{
    font-size: 1.6rem;
  
    padding: 5px 10px;
}
.c-form01 input[type="text"],.c-form01 input[type="number"]{
   
    height: 40px;
    border-color: #ced4da;
    border-width: 1px;
    border-style: solid;
    
}
.c-form01 textarea{
    height: 150px;
    border-color: #ced4da;
    border-width: 1px;
    border-style: solid;
}
.c-form01 input:focus{
    outline: 1px solid #71d100;
}
.c-form01 select{
    height: 40px;
    font-size: 1.6rem;
}
.custom-file-label::after{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-form01 .custom-file-label{
    display: flex;
    align-items: center;
}
.c-form01__label{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
.c-form01 .contact-form-content__txt{
    width: 25%;
}
/* sell */
.sell-content{
    color: black;
}
.sell-content .add-product-contents{
    font-size: 1.6rem;
}
/*  */
.c-cofirm {
    color: #7dc02d;
}
/* sidebar user  */
.com-sidebar-profile-content__img{
    left: 50%;
    transform: translatex(-50%);
}
/* request */
.purchase-wishes-content__content{
    margin-top: 3rem;
}
/*  */
.c-small{
    font-size: 1.4rem !important;
}
.formBlockID input[type="submit"]{
    height: 40px;
}
.evaluation-content i{
    vertical-align: middle;
}
.content-group-pagination a {
    flex-shrink: 0;
}
/* sider bar */
.com-sidebar-item__link-txt {
    padding: 15px 10%;
}
@media screen and (max-width: 768px){
    .com-header__search.sp-hide{
        display: none;
    }
    .category-title h3 {
        font-size: 5rem;
    }
    .c-form01 input[type="text"],.c-form01 textarea,.c-form01 input[type="number"]{
        font-size: 5rem !important;
      
        padding: 5px 5px;
    }
    .c-form01 input[type="text"],.c-form01 input[type="number"]{
       
        /* height: 35px; */
        min-height: 35px;
        height:auto
        
    }
    .c-form01 textarea{
        height: 100px;
    }
    .c-form01 select{
        font-size: 5rem;
        height: 35px;
    }
    .c-form01 .custom-file-label, .c-form01 .custom-file-input{
        height: 35px;
        padding: 5px 5px;
        font-size: 5rem;
    }
    .c-form01__label{
        font-size: 5.5rem !important;
    }
    .custom-file-label::after{
        height: 33px !important;
        padding: 5px 5px;
        font-size: 4rem;
    }
    .custom-file-input{
        margin-top: 0;
    }
   .custom-file{
       margin-top: 10rem;
   }
   .form-check-label-add{
       margin-left: 15px;
   }
   /*  */
   .c-small, .bg-inner p.c-small{
        font-size: 3.5rem !important;
    
    }
    .formBlockID input[type="submit"]{
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }
    /*  */ {
        
    }
  
}


@media only screen and (min-width:768px) and (max-width: 991.98px){
    html{
        font-size: 8px;
    }
    .popular-item-group-column{
        padding: 2rem;
    }
}
@media screen and (max-width:  1199.98px){
    .service-term{
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media screen and (max-width:  991.98px){
    
    .service-term{
        margin-left: 10%;
        margin-right: 10%;
    }
    .product-info-select select{
        padding-left: 10px;
    }
    .c-form01 .pass-add > *{
     display: flex;
     margin-bottom: 5px;

    }
}
@media screen and (max-width: 768px){
    html{
        /* font-size: 0.5vw; */
        font-size: 0.45vw;
        
    }
    .form-control{
        min-height: 35px;
        height: auto;
        font-size: 4.5rem !important;
    }
    .priceinfo-inner table{
        font-size: 4.5rem !important;
    }
    .product-confirm-add-2{
        margin-top: 20px;
        margin-bottom: 5px;
    }
  
   
    /*  */
    .main-concept-item-txt{
        top: 25%;
    }
    .popular-group-column__txt p{
        height: 9vw !important;
    }
    .ladies-item-title__txt a{
        width:16vw;
     }
     .footer-login-content-item__txt h4{
         font-size: 3.5rem;
     }
    
     .footer-login-content-item__txt h3{
         font-size: 4.5rem;
     }
     /*  */
     .customer-container p{
        margin-right: 0;
     }
     /*  */
     .ladies-product-price{
         font-size: 4.5rem !important;
     }
     
     /*  */
     .customer-contact-form{
        padding: 10px 10%;
    }
     .login__form{
         padding-left: 10%;
         padding-right: 10%;
     }
     .service-term{
        margin-left: 5%;
        margin-right: 5%;
    }
     /*  */
     input[type="submit"].btn{
         /* min-height: 35px; */
         padding: 10px;
     }
     .footer-logo img{
         width:15vw;
         max-width: 80px
     }
     .contact-form-content__tag input.w-sp100{
         width:100% !important;
     }
}
@media screen and (max-width: 576px){
    .c-form01 .contact-form-content__txt{
        width: 100%;
    }
}
@media screen and (max-width: 551px){
    html{
        font-size: 0.625vw;
    }
    .popular-item-group-column {
        padding: 6rem 2rem;
    }
    /* padding */
    .customer-contact-form{
        padding: 10px 15px;
        width: 100%;
    }
    /*  */
    .login__form,.p-rp__form{
        padding-left: 5%;
        padding-right: 5%;
    }
    .com-container{
        padding-left:5%;
        padding-right: 5%;
    }
    .u-sp-px5{
            padding-left: 5%;
            padding-right: 5%;
        }
}
@media screen and (max-width: 768px){
    .contact-form-content__txt{
        width: 100%;
    }
    .contact-form-content__tag input{
        width: auto !important;
    }
}

/*add 17.5*/
/**/
.u-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.u-inlineblock{
    display: inline-block;
}
.ladies-group-column:before {
    padding-top: calc(90% + 50px);
}

.ladies-group-column__img {
    height: calc(100% - 50px);
}

.ladies-group-column__price{
    bottom: 50px;
}
.ladies-group-column__img img {
    height: 100%;
    margin-top: 0;
}

.ladies-group-column__img-bottom{
    bottom: 0;
    padding-top: 5px;
}
.ladies-group-column__img .ladies-group-column__img-bottom{
    bottom: auto;
   top: 100%;
}
/**/
.p-top__newsletter .newsletter-item-title{
    border-bottom: none
}
/**/
.footer-content-item{
    width: 49%;
}
.footer-content-item-link__group{
    width: 49%
}

.footer-content-item-link__group a{
    margin-left: 0rem;
}
.footer-content-item-link__group a:hover{
    color: rgb(109, 91, 91);
}
/**/
.flow-content-step__left{
    padding-left: 10px;
    padding-right: 10px;
    min-width: 170px;

}
/**/
.p-priceinfo__1 .priceinfo-table td{
text-align: center
}
/**/
.contact-form-content__txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}

.contact-form-content__txt .requried {
    color: red;
}
/**/
.c-form01__mess {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}
.flow-content-step__right p{
    font-size: 1.5rem;
}
/**/
.service-term{
    margin-bottom: 5rem;
}
.product-list-content__bottom p i, .icon__good__eval, .icon__middle__eval, .icon__bad__eval{
    /*vertical-align: middle;
    line-height: inherit;*/
}
.customer-contact-form .content-title h3{
    padding-bottom: 0;
}
.customer-contact-form .content-title h3 span{
    padding-bottom: 6px;
    line-height: 1.8;
}
.product-list-content__right-item-txt .u-flex i{
    margin-right: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px){
    .ladies-group-column__img-bottom{
        height: 40px;
    }
    .ladies-group-column:before {
    padding-top: calc(90% + 40px);
}

.ladies-group-column__img {
    height: calc(100% - 40px);
}

.ladies-group-column__price{
    bottom: 40px;
}
}
@media screen and (max-width: 1300px){
.footer-content-item-link__group a,.footer-content-item__txt{
    font-size: 1.2rem;
}
 
.footer-content-item-link__group a::before,.footer-content-item__txt::before{
    width: 1.6rem;
}
.flow-content-step__right p{
    font-size: 1.4rem;
}
}
@media screen and (max-width: 768px){
    .footer-content-item-link__group{
        width: 100%;
    }
    .footer-content-item-link__group a::before, .footer-content-item__txt::before{
        width: 4rem;
    }
    .footer-content-item-group .footer-content-item__group:first-child{
        margin-top: 0
    }
    /**/
     .ladies-group-column__img-bottom{
        height: 40px;
        font-size: 12px !important;
        padding-top: 2px
    }
    .ladies-group-column:before {
    padding-top: calc(90% + 40px);
}
.ladies-group-column__img {
    height: calc(100% - 40px);
}

.ladies-group-column__price{
    bottom: 50px !important;
}
/**/
.contact-form-content__txt .requried {
   font-size: 4rem;
}
.c-form01__mess{
    font-size: 4rem;
}
/**/
.customer-contact-form .content-title h3 span {
    padding-bottom: 4px;
    line-height: 2;
}
}

/* custom checkbox in contact form css */
    .contact-form-content .contact-form-content__tag .styled-checkbox {
        position: absolute;
        opacity: 0;
    }
    .contact-form-content .contact-form-content__tag .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }
    .contact-form-content .contact-form-content__tag .styled-checkbox + label:before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 15px;
        height: 15px;
        border: 1px solid gray;
        border-radius: 4px;
    }
    .contact-form-content .contact-form-content__tag .styled-checkbox:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    .contact-form-content .contact-form-content__tag .styled-checkbox:checked + label:before {
        background: white;
    }
    .contact-form-content .contact-form-content__tag .styled-checkbox:checked + label:after {
        content: "";
        position: absolute;
        left: 2px;
        background: black;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
        transform: rotate(43deg);
    }
    .contact-form-content .contact-form-content__tag .unstyled {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .contact-form-content .contact-form-content__tag .unstyled li {
        margin: 20px 0;
    }
    .contact-form-content .contact-form-content__tag .centered {
        width: 300px;
    }
/* end custom checkbox in contact form css */

/* custom radio buttons in contact form css */
    .contact-form-content .contact-form-content__tag .radio input[type="radio"] + label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 30px;
        margin-right: 15px;
        font-size: 13px;
    }
    .contact-form-content .contact-form-content__tag .radio input[type="radio"] + label:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 14px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #aaa;
        background-color: #fff;
        border-radius: 50%;
    }
    .contact-form-content .contact-form-content__tag .radio input[type="radio"] {
        display: none !important;
        *display: inline;
    }
    .contact-form-content .contact-form-content__tag .radio input[type="radio"]:checked + label:after {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: black;
    }
/* end custom radio buttons in contact form css */