/* common.css Responsive
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:1024px) {
    /* Common Header Style Define */
    .com-header__search {
        width: 28%;
    }
    .com-header-link  {
        width: 46%;
    }
    .com-header__search input[type="text"] {
        width: 80%;
    }
    .com-header__search button {
        width: 20%;
    }
    /* End Common Header Style Define */
}
@media(max-width:768px) {
    .pc-show {
        display: none;
    }
    .sp-show {
        display: block;
    }
    .icon__good__eval {
        font-size: 5rem;
        color: #ff0054;
    }
    .icon__middle__eval {
        font-size: 5rem;
        color: #71d100;
    }
    .icon__bad__eval {
        font-size: 5rem;
        color: #00c6ff;
    }
    /* Common header Style Define */
    .side-bar {
        display: block;
    }
    .com-header-link {
        display: none;
    }
    .com-header {
        justify-content: unset;
        height: auto;
    }
    .com-header__search {
        width: 60%;
        margin-left: 30px;
    }
    .com-header__logo {
        width: auto;
    }
    .com-header__logo a img{
        height: 50px;
        width: auto;
    }
    /* End Common Header Style Define */
    /* Com Content Style Define */
    .com-sidebar {
        display: none;
    }
    .com-content {
        width: 100%;
    }
    .com-container {
        padding: 10rem 5%;
    }
    .com-header-top__img img {
        height: 10vh;
    }
    .com-header-top__txt {
        font-size: 5rem;
        left: 5%;
    }
    .com-header-top__path {
        padding: 15px 5%;
    }
    .com-header-top__path p {
        font-size: 4rem;
    }    
    .content-title h3 {
        font-size: 7.5rem;
    }
    .com-header .main-header__search input[type="text"], .com-header .com-header__search input[type="text"] {
        width: 70%;
        height: 30px;
    }
    .com-header .com-header__search button{
        height: 30px;
    }
    .side-bar .btn-menu{
        width: 30px;
        height: 30px;
        top:8px;
    }
    .side-bar .btn-menu span {
        position: absolute;
        top: 6px;
        right: 4px;
        width: 20px;
        border-bottom: 2px solid white;
    }
    .side-bar .btn-menu span:nth-child(2) {
        top: 15px;
    }
    .side-bar .btn-menu span:nth-child(3) {
        top: 23px;
    }
    /* End Com Content Style Define */
}
@media(max-width:576px) {
    /* Common header Style Define */
    .com-header__search {
        width: calc(100vw - 170px);
        margin-left: 25px;
    }
    /* End Common Header Style Define */
}

/* index.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:1024px) {
    /* Header Style Define */
    .main-header__search {
        width: 28%;
    }
    .main-header-link  {
        width: 46%;
    }
    .main-header__search input[type="text"] {
        width: 80%;
    }
    .main-header__search button {
        width: 20%;
    }
    /* End Header Style Define */
}
@media(max-width:768px) {
    /* header Style Define */
    .main-header-link {
        width: 80%;
    }
    .main-header {
        justify-content: unset;
        height: 55px;
    }
    .main-header__search {
        position: absolute;
        margin-top: 20rem;
        width: 80%;
        left: 10%;
    }
    .main-header__logo {
        width: 110px;
    }
    .main-header__search input[type="text"] {
        width: 85%;
    }
    .main-header__search button {
        width: 15%;
    }
    /* End Header Style Define */

    /* Main Concept Style Define */
    .main-top__txt h2 {
        font-size: 10rem!important;
    }
    .main-concept-item__img {
        width: 45%;
    }
    .main-concept-item__img img {
        margin-top: -8.5rem;
    }
    .main-concept-item-txt__title h3 {
        font-size:9rem;
    }
    .main-concept-item-txt__text {
        margin-top: 9rem;
    }
    .main-concept-item-txt__text p {
        font-size: 5.5rem;
        background-color: #FFFFFF9C;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .main-concept-item-txt__text p:nth-child(1) {
        padding-top: 5rem;
    }
    .main-concept-item-txt__text p:nth-child(2) {
        padding-bottom: 5rem;
    }
    .main-concept-item-txt {
        position: absolute;
        left: 11%;
        top: 25%;
    }
    /* End main Concept Style Define */
    /* Popular Category Style Define */
    .popular-category {
        padding: 10rem 8%;
    }
    .popular-category-item {
        flex-direction: column;
    }
    .popular-item-group {
        width: 100%;
    }
    .popular-category-item .popular-item-group:nth-child(2) {
        margin-top: 5rem;
    }
    .popular-category .popular-category-item:nth-child(3) {
        margin-top: 5rem;
    }
    .popular-category__title h2 {
        font-size: 9rem;
    }
    .popular-group-column__icon img {
        width: 15rem;
        height: 15rem;
    }
    .popular-group-column__txt p {
        font-size: 4rem;
    }
    /* End Popular Category Style Define */
    /* Ladies Item Style Define */
    .ladies-item {
        padding: 10rem 5%;
    }
    .ladies-item-title__txt h3 {
        font-size: 5.5rem;
    }
    .ladies-item-title__txt a {
        font-size: 4rem;
    }
    .ladies-item-row .ladies-item-row-group:nth-child(1){
        width: 65%;
    }
    .ladies-item-row .ladies-item-row-group:nth-child(1) .ladies-group-column{
        width: 46%;
    }
    .ladies-item-row .ladies-item-row-group:nth-child(2){
        width: 30%;
    }
    .ladies-item-row .ladies-item-row-group:nth-child(2) .ladies-group-column{
        width: 100%;
    }
    .ladies-item-row .ladies-item-row-group:nth-child(2) .ladies-group-column:nth-child(2){
        display: none;
    }
    .ladies-group-column__img-bottom {
        font-size: 4rem;
    }
    .ladies-group-column__icon img {
        width: 12rem;
    }
    .ladies-group-column__price p span {
        font-size: 4rem;
    }
    .ladies-group-column__price {
        bottom: 8rem;
    }
    /* End Ladies Item Style Define */
    /* News Letter Style Define */
    .newsletter {
        padding: 10rem 5%;
    }
    .newsletter-content {
        flex-direction: column;
    }
    .newsletter-content-item {
        width: 100%;
    }
    .newsletter-content .newsletter-content-item:nth-child(2) {
        margin-top: 15rem;
    }
    .newsletter-item__txt h3 {
        font-size: 5.5rem;
    }
    .newsletter-item__txt a {
        font-size: 4rem;
    }
    .newsletter-item-content__link-date {
        font-size: 4rem;
    }
    .newsletter-item-content__link-txt {
        font-size: 4rem;
    }
    /* End News Letter Style Define */
    /* Footer Login Style Define */
    .footer-login {
        padding: 10rem 5%;
    }
    .footer-login-content-item__txt h4 {
        font-size: 6.6rem;
    }
    .footer-login-content-item__txt h3 {
        font-size: 8.5rem;
    }
    .footer-login-content-item__btn span:nth-child(1)::before {
        width: 8rem;
        height: 8rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 8 8'%3E%3Cpath d='M4 0c-1.1 0-2 1.12-2 2.5s.9 2.5 2 2.5 2-1.12 2-2.5-.9-2.5-2-2.5zm-2.09 5c-1.06.05-1.91.92-1.91 2v1h8v-1c0-1.08-.84-1.95-1.91-2-.54.61-1.28 1-2.09 1-.81 0-1.55-.39-2.09-1z' fill='white'/%3E%3C/svg%3E");
    }
    /*
    .footer-login-content-item__btn span:nth-child(2) {
        font-size: 6.5rem;
    }
    
    .footer-login-content-item {
        top: 18%;
        left: 24%;
    }
    */
    /* End Foote rLogin Style Define */
    /* Footer Style Define */
    .footer {
        padding: 10rem 7% 5rem 7%;
    }
    
    .footer-content-item-link {
        flex-direction: column;
    }
    .footer-content-item-link__group {
        width: 100%;
    }
    .footer-content-item-group {
        flex-direction: column;
    }
    .footer-content-item__title p {
        font-size: 4.5rem;
    }
    .footer-content-item-link__group a {
        font-size: 4rem;
    }
    .footer-content-item__txt {
        font-size: 4rem;
    }
    .footer-content-item-group .footer-content-item__group {
        margin-top: 5rem;
    }
    .footer-content-item-link__group a::before {
        width: 4rem;
        height: 4rem;
    }
    .footer-content-item__txt::before {
        width: 4rem;
        height: 4rem;
    }
    .footer-end p {
        font-size: 3.5rem;
    }
    .footer-logo img {
        width: 25rem;
    }
    .footer-logo {
        bottom: 8rem;
    }
    /* End Footer Style Define */
}
@media(max-width:500px) {
    .main-header__search {
        margin-top: 30rem;
    }
}
@media(max-width:460px) {
    .main-header__search {
        margin-top: 25rem;
    }
    .main-header-link__txt {
        width: 49%;
    }
    .main-header-link__txt-item {
        padding: 5px;
    }
    .main-header-link .main-header-link__txt:nth-child(1) {
        width: 44%;
    }
    .main-header-link .main-header-link__txt:nth-child(2) {
        width: 55%;
    }
    .main-header-link__txt-item span:nth-child(2) {
        font-size: 12px;
    }
    .main-header-link__txt:nth-child(2) .main-header-link__txt-item span:nth-child(2) {
        font-size: 12px;
        
    }
    .main-header-link__txt-item span:nth-child(2) {
        padding: 10px 5px;
    }
}

/* mypage.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .content-group-item__date {
        font-size: 3.5rem;
    }
    .content-group-item__txt {
        font-size: 3.5rem;
    }
    .content-group-item__new span {
        font-size: 3.5rem;
    }
    .pagination__num span {
        font-size: 3.5rem;
    }
    .pagination__num {
        width: 10rem;
        height: 10rem;
    }
    .pagination__preve i {
        font-size: 5rem;
    }
}
@media(max-width:576px) {
    .content-group-item {
        flex-direction: column;
    }
    .content-group-item__date {
        width: 50%;
    }
    .content-group-item__txt {
        margin-top: 5px;
        width: 100%;
    }
    .content-group-item__new {
        width: 50%;
        margin-top: 5px;
        text-align: left;
    }
    .content-group-item__date {
        font-size: 4rem;
    }
    .content-group-item__txt {
        font-size: 4rem;
    }
    .content-group-item__new span {
        font-size: 4rem;
    }
}
@media(max-width:375px) {
    .com-header-top__txt {
        font-size: 6rem;
    }
    .com-header-top__path p {
        font-size: 5rem;
    }
    .content-group-item__date {
        font-size: 5rem;
    }
    .content-group-item__txt {
        font-size: 5rem;
    }
    .content-group-item__new span {
        font-size: 5rem;
    }
}

/* exhibited_list.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .table-responsive {
        font-size: 16px;
    }
    .qnego-sm-title {
        font-size: 5rem;
    }
    .table-responsive th:nth-child(1) {
        width: unset;
    }
    .table-responsive th:nth-child(2) {
        width: unset;
    }
    .table-responsive th:nth-child(3) {
        width: unset;
    }
    .table-responsive th:nth-child(4) {
        width: unset;
    }
}

/* withdraw_history.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .total-cal__txt h2 {
        font-size: 5rem;
    }
    .total-cal__txt h2 span {
        font-size: 15rem;
        font-weight: bold;
    }
    .total-cal__txt p {
        font-size: 5rem;
    }
    .ttal-cal__btn {
        margin-top: 2rem;
    }
    .ttal-cal__btn button {
        font-size: 5rem;
        padding: 2rem 36rem;
    }
}

/* evaluation.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .evaluation-tab-set {
        font-size: 5rem;
    }
    .evaluation-content__title h3 {
        font-size: 6rem;
    }
    .evaluation-content__exam p {
        font-size: 5rem;
        margin-left: 1rem;
    }
    .evaluation-item-show__btn a {
        font-size: 5rem;
    }
    .evaluation-result-content-head {
        font-size: 5rem;
    }
    .evaluation-result-content-head__sex p {
        font-size: 5rem;
    }
    .evaluation-result-content__txt p {
        font-size: 5rem;
    }
    .evaluation-result-person__name p {
        font-size: 5rem;
    }
}
@media(max-width:576px) {
    .evaluation-item-show-result {
        flex-direction: column;
    }
    .evaluation-result-content {
        width: 100%;
    }
    .evaluation-result-person {
        width: 30%;
    }
}

/* purchase_wishes.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .purchase-wishes-content {
        font-size: 5rem;
    }
    .purchase-wishes-content-btn button {
        font-size: 5rem;
    }
}

/* verify_doc_submit.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .verify-sm-txt h4 {
        font-size: 5rem;
    }
    .verify-sm-txt p {
        font-size: 5rem;
    }
    .verify-submit-form__title p {
        font-size: 5rem;
    }
    .custom-file {
        font-size: 5rem;
    }
    .verify-submit-form__btn button {
        font-size: 5rem;
    }
    .custom-file-input {
        margin-top: 10rem;
    }
    .custom-file-label {
        height: 40px;
        padding: 3.375rem 1.75rem;
    }
    .custom-file-label::after {
        height: 39px;
        padding: 3.375rem .75rem;
    }
}
@media(max-width:375px) {
    .custom-file-input {
        margin-top: 15rem;
    }
}

/* sell.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .sell-content-txt__title h3 span:nth-child(1) {
        font-size: 5.5rem;
    }
    .sell-content-txt__title h3 span:nth-child(2) {
        font-size: 4.5rem;
    }
    .sell-content-txt__txt p {
        font-size: 4.5rem;
    }
    .sell-content-photo-item-img__txt h4 {
        font-size: 4.5rem;
    }
    .button__define {
        font-size: 4rem;
    }
    .photo-precation p {
        font-size: 4rem;
    }
    .product-info h3 {
        font-size: 5.5rem;
    }
    .product-info p {
        font-size: 4.5rem;
    }
    .product-info-select select {
        font-size: 14px;
    }
    .product-price h3 {
        font-size: 5.5rem;
    }
    .product-price p {
        font-size: 4.5rem;
    }
    .product-price input {
        font-size: 4rem;
    }
    .sell-form-btn button {
        font-size: 4.5rem;
    }
    .sell-form-end {
        font-size: 4rem;
    }
}
@media(max-width:375px) {
    .sell-content-txt__title h3 span:nth-child(1) {
        font-size: 7.5rem;
    }
    .sell-content-txt__title h3 span:nth-child(2) {
        font-size: 5.5rem;
    }
    .sell-content-txt__txt p {
        font-size: 5.5rem;
    }
    .sell-content-photo {
        flex-direction: column;
    }
    .sell-content-photo-item {
        margin-top: 30px;
        width: 100%;
    }
    .sell-content-phpto-item-img__img img {
        height: 110rem;
    }
    .sell-content-photo-item-img__txt h4 {
        font-size: 5.5rem;
    }
    
    .button__define {
        font-size: 5.5rem;
    }
    .photo-precation p {
        margin-top: 30px;
        font-size: 5rem;
    }
    .product-info h3 {
        margin-top: 30px;
        font-size: 6.5rem;
    }
    .product-info p {
        font-size: 5.5rem;
    }
    .product-info-select select {
        font-size: 14px;
    }
    .product-price h3 {
        font-size: 6.5rem;
    }
    .product-price p {
        font-size: 5.5rem;
    }
    .product-price input {
        font-size: 5rem;
    }
    .sell-form-btn button {
        font-size: 6.5rem;
    }
    .sell-form-end {
        font-size: 5rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
////////////////////////////////////////////////////////////////////////////////////////////////////////
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
////////////////////////////////////////////////////////////////////////////////////////////////////////
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
////////////////////////////////////////////////////////////////////////////////////////////////////////
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
////////////////////////////////////////////////////////////////////////////////////////////////////////
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
////////////////////////////////////////////////////////////////////////////////////////////////////////
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
////////////////////////////////////////////////////////////////////////////////////////////////////////
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Other Common Header Style Define
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:1024px) {
    /* Header Style Define */
    .other-main-header__search {
        width: 28%;
    }
    .other-main-header-link  {
        width: 46%;
    }
    .other-main-header__search input[type="text"] {
        width: 80%;
    }
    .other-main-header__search button {
        width: 20%;
    }
    /* End Header Style Define */
}
@media(max-width:768px) {
    /* header Style Define */
    .other-main-header-link {
        width: 80%;
    }
    .other-main-header {
        justify-content: unset;
        height: 60px;
    }
    .other-main-header__search {
        position: absolute;
        margin-top: 83px;
        width: 60%;
        float: right;
        right: 5%;
    }
    .other-main-header__logo {
        width: 118px;
    }
    .other-main-header__search input[type="text"] {
        width: 85%;
    }
    .other-main-header__search button {
        width: 15%;
    }
    /* End Header Style Define */
}
@media(max-width:460px) {
    .other-main-header-link__txt {
        width: 49%;
    }
    .other-main-header-link__txt-item {
        padding: 5px;
    }
    .other-main-header-link .other-main-header-link__txt:nth-child(1) {
        width: 44%;
    }
    .other-main-header-link .other-main-header-link__txt:nth-child(2) {
        width: 55%;
    }
    .other-main-header-link__txt-item span:nth-child(2) {
        font-size: 12px;
    }
    .other-main-header-link__txt:nth-child(2) .other-main-header-link__txt-item span:nth-child(2) {
        font-size: 12px;
        padding: 10px 5px;
    }
    .other-main-header-link__txt-item span:nth-child(2) {
        padding: 10px 5px;
    }
}

/* contact_us.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .customer-contact-form__txt p {
        font-size: 4.5rem;
    }
    .contact-form-content__txt p {
        font-size: 4.5rem;
    }
    .customer-contact-form {
        padding: 10rem 15px;
        width: 100%;
    }
    .contact-form-content__tag input {
        width: 100% !important;
        font-size: 5.5rem;
    }
    .contact-form-content__tag textarea {
        font-size: 5.5rem;
    }
}
@media(max-width:576px) {
    .contact-form-content {
        flex-direction: column;
    }
    .contact-form-content__txt {
        width: 100%;
    }
    .contact-form-content__tag {
        width: 100%;
    }
    .conform-submit__btn button {
        font-size: 4.5rem;
    }
    .customer-contact-form__txt p {
        font-size: 5.5rem;
    }
    .contact-form-content__txt p {
        font-size: 5.5rem;
    }
}

/* notice_show.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .notice-show__top {
        font-size: 5.5rem;
    }
    .notice-show__content {
        font-size: 5.5rem;
    }
    .notice-show__btn button {
        font-size: 5.5rem;
        padding: 10px 15rem;
    }
}

/* use_flow.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .flow-content {
        padding-left: 0%;
        padding-right: 0%;
    }
    .flow-content__txt {
        font-size: 4rem;
    }
    .flow-content-step__left p:nth-child(1) {
        font-size: 6.5rem;
    }
    .flow-content-step__left p:nth-child(2) {
        font-size: 4rem;
    }
    .flow-content-step__right p {
        font-size: 3rem;
    }
}
@media(max-width:500px) {
    .flow-content-step {
        flex-direction: column;
    }
    .flow-content-step__left {
        width: 100%;
    }
    .flow-content-step__right {
        width: 100%;
    }
    .flow-icon {
        border-left: 6rem solid transparent;
        border-right: 6rem solid transparent;
        border-top: 8rem solid #ff7800;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    .flow-content-step__right p {
        font-size: 5.5rem;
    }
    .flow-content-step__right p {
        margin: 10px;
    }
    .flow-content-step__left p:nth-child(1) {
        font-size: 7.5rem;
    }
    .flow-content-step__left p:nth-child(2) {
        font-size: 5.5rem;
    }
}


/* faq.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) { 
    .faq-content-item__txt:nth-child(1) p {
        font-size: 4rem;
    }
    .faq-content-item__txt:nth-child(2) p {
        font-size: 4rem;
    }
    .faq-content-item__icon i {
        font-size: 5rem;
    }
    .faq-content-item__show p {
        font-size: 4rem;
    }
}
@media(max-width:375px) { 
    .faq-content-item__txt:nth-child(1) p {
        font-size: 5rem;
    }
    .faq-content-item__txt:nth-child(2) p {
        font-size: 5rem;
    }
    .faq-content-item__icon i {
        font-size: 6rem;
    }
    .faq-content-item__show p {
        font-size: 5rem;
    }
    .seller-evaluation__title p {
        font-size: 6rem;
    }
    .seller-bottom a {
        font-size: 4.5rem;
    }
    .seller-evaluation {
        margin-left: unset;
        margin-right: unset;
    }
}

/* seller_home.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .seller-home-profile__title h3 {
        font-size: 6rem;
    }
    .seller-home-profile__txt p {
        font-size: 4rem;
    }
    .social-icon i {
        font-size: 12rem;
    }
    
}

/* service_terms.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .service-term {
        margin-top: 10rem;
        margin-left: 5%;
        margin-right: 5%;
        padding: 6rem;
    }
    .service-term p {
        font-size: 4.5rem;
    }
    .service-term h4 {
        font-size: 6rem;
        margin-top: 8rem;
    }
}

/* ladies_new_item.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .ladies-new-term {
        margin-top: 10rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    .ladies-new-term .content-group-pagination {
        margin-left: unset;
        margin-right: unset;
        padding-left: unset;
        padding-right: unset;
    }
}

/* purase_request_info.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .purase-request-info {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10rem;
    }
    .purase-request-info p {
        font-size: 4rem;
        padding: 5rem;
    }
    .purase-request-info p:nth-child(3) span {
        font-size: 6rem;
    }
}
@media(max-width:375px) {
    .purase-request-info p {
        font-size: 5.5rem;
        padding: 5rem;
    }
    .purase-request-info p:nth-child(3) span {
        font-size: 7.5rem;
    }
}

/* buy_credit_card.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .buy-credit-card {
        padding-left: 5%;
        padding-right: 5%;
    }
    .buy-credit-card__lead h3 {
        font-size: 6.5rem;
    }
    .buy-credit-card__price p span {
        font-size: 6.5rem;
    }
    .buy-credit-card__price p {
        font-size: 4.5rem;
    }
    .buy-credit-card__btn button {
        font-size: 5rem;
        padding-left: 30rem;
        padding-right: 30rem;
    }
}

/* by_credit.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .buy-credit button {
        font-size: 4.5rem;
    }
    .buy-credit-lead__txt:nth-child(1) p {
        font-size: 5rem;
    }
    .buy-credit-lead__txt p span {
        font-size: 6rem;
    }
    .buy-credit-lead__txt p {
        font-size: 4.5rem;
    }
    .credit-transfer-account h4 {
        font-size: 5rem;
    }
    .credit-transfer__txt-item {
        font-size: 4.5rem;
    }
    .credit-transfer__txt-item {
        width: 35%;
    }
    .credit-transfer__bottom p {
        font-size: 4.5rem;
    }
}

/* new_member_register.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .new-register__bottom {
        margin-top: 10rem;
        padding: 10px 15px;
    }
    .new-register__bottom p {
        font-size: 5rem;
        line-height: 2;
    }
}

/* ladies_product_list.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media(max-width:768px) {
    .ladies-product-list__title p {
        font-size: 6rem;
    }
    .ladies-product-list-content {
        flex-direction: column;
    }
    .product-list-content__left {
        width: 100%;
    }
    .product-list-content__bottom p {
        font-size: 4.5rem;
    }
    .product-list-content__bottom p i {
        font-size: 6rem;
    }
    .product-list-content__right {
        width: 100%;
    }
    .product-list-content__right-item-title p {
        font-size: 4.5rem;
    }
    .product-list-content__right-item-txt p {
        font-size: 4.5rem;
    }
    .product-list-content__right-bottom a {
        font-size: 4.5rem;
    }
    .ladies-product-price__txt p span {
        font-size: 8rem;
    }
    .ladies-product-price__txt p {
        font-size: 4.5rem;
    }
    .ladies-product-btn button {
        font-size: 4.5rem;
    }
    .ladies-product-order-warning p {
        font-size: 4rem;
    }
    .ladies-product-btn button {
        padding: 10px 10rem;
    }
    .ladies-product-btn button:nth-child(2) {
        padding: 10px 16rem;
    }
    .ladies-product-content p {
        font-size: 4.5rem;
    }
    .seller-info {
        flex-direction: column;
    }
    .seller-info-item {
        width: 100%;
    }
    .seller-info-item__lead p {
        font-size: 4.5rem;
    }
    .not-payment-btn button {
        font-size: 4.5rem;
    }
    .transaction-info__lead p {
        font-size: 6rem;
    }
    .transaction-info-flow__bottom p {
        font-size: 4rem;
    }
    .transaction-btn button {
        font-size: 4.5rem;
    }
    .transaction-refer p {
        font-size: 4.5rem;
    }
    .transaction-bottom p {
        font-size: 4.5rem;
    }
    .transaction-file-down p {
        font-size: 4.5rem;
    }
    .transaction-file-btn button {
        font-size: 4.5rem;
    }
}

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 768px) and (max-width:992px){
    .customer-container .customer-contact-form{
        padding: 10px 0;
        width: 80%;
        margin: 0 auto;
    }
}