/* index.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Header Style Define */

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.main-header__logo {
    width: 15%;
}

.main-header__logo img {
    width: 100%;
}

.main-header__search {
    width: 40%;
    display: flex;
    align-items: center;
}

.main-header__search input[type="text"] {
    width: 90%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    font-size: 14px;
}

.main-header__search button {
    width: 10%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    font-size: 18px;
}

.main-header-link {
    width: 34%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header-link__txt {
    width: 48%;
}

.main-header-link__txt-item {
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

.main-header-link__txt-item span:nth-child(1) {
    border-right: 1px solid white;
    background-color: #7dc02d;
    padding: 10px;
    border-left: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-header-link__txt-item span:nth-child(2) {
    border-left: 1px solid white;
    background-color: #7dc02d;
    padding: 10px;
    border-left: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    color: white;
    width: 100%;
}

.main-header-link__txt:nth-child(2) .main-header-link__txt-item span:nth-child(1) {
    border-right: 1px solid white;
    background-color: #ff7800;
    padding: 10px;
    border-left: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-header-link__txt:nth-child(2) .main-header-link__txt-item span:nth-child(2) {
    border-left: 1px solid white;
    background-color: #ff7800;
    padding: 10px;
    border-left: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    color: white;
    width: 100%;
}


/* End Header Style Define */


/* Main Top Style Define */

.main-top {
    position: relative;
}

.main-top__bg {
    width: 100%;
}

.main-top__bg img {
    width: 100%;
}

.main-top__txt {
    position: absolute;
    top: 40%;
    left: 10%;
}

.main-top__txt h2 {
    font-size: 7rem;
    font-family: Myriad Pro;
    color: white;
}


/* End Main Top Style Define */


/* Main Concept Style Define */

.main-concept-item {
    position: relative;
}

.main-concept-item__img {
    width: 30%;
}

.main-concept-item__img img {
    width: 100%;
    margin-top: -4.4rem;
}

.main-concept-item-txt {
    position: absolute;
    left: 40%;
    top: 40%;
    text-align: center;
    color: #333333;
}

.main-concept-item-txt__title h3 {
    font-size: 3rem;
}

.main-concept-item-txt__text p {
    font-size: 1.6rem;
}


/* End Main Concept Style Define */


/* Popular Category Style Define */

.popular-category {
    background-color: #b1e964;
    padding: 5rem 10%;
}

.popular-category__title h2 {
    text-align: center;
    font-size: 3rem;
    color: #333333;
    margin-bottom: 4rem;
}

.popular-category-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.popular-item-group {
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular-item-group-column {
    background-color: #55c100;
    border-radius: 15px;
    padding: 3rem;
    text-align: center;
}

.popular-group-column__icon img {
    width: 6rem;
    height: 6rem;
}

.popular-group-column__txt p {
    font-size: 1.6rem;
    color: white;
    margin-top: 2rem;
}


/* End Popular Category Style Define */


/* Ladies Item Style Define */

.ladies-item {
    padding: 5rem 10%;
}

.ladies-item-title {
    border-bottom: 2px solid #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ladies-item-title:nth-child(2) {
    margin-top: 5rem;
}

.ladies-item-title__txt h3 {
    font-size: 2.6rem;
    line-height: 1.3;
}

.ladies-item-title__txt h3 span {
    border-bottom: 4px solid #71d100;
}

.ladies-item-title__txt a {
    font-size: 1.6rem;
    color: #71d100;
}

.ladies-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
}

.ladies-item-row-group {
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ladies-group-column {
    width: 48%;
    position: relative;
}

.ladies-group-column__img img {
    width: 100%;
}

.ladies-group-column__img-bottom {
    font-size: 1.6rem;
}

.ladies-group-column__icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.ladies-group-column__icon img {
    width: 5rem;
}

.ladies-group-column__price {
    position: absolute;
    bottom: 0;
    float: right;
    right: 0;
}

.ladies-group-column__price p span {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
}

.ladies-group-column__price p span {
    background-color: #0000005c;
}


/* End Ladies Item Style Define */


/* NewsLetter Style Define */

.newsletter {
    background-color: #fffbe7;
    padding: 5rem 10%;
}

.newsletter-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.newsletter-content-item {
    width: 48%;
}

.newsletter-item-title {
    border-bottom: 2px solid #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.newsletter-item__txt h3 {
    font-size: 2.6rem;
}

.newsletter-item__txt h3 span {
    border-bottom: 4px solid #71d100;
}

.newsletter-item__txt a {
    font-size: 1.6rem;
    color: #71d100;
}

.newsletter-item-content__link {
    border-bottom: 1px dotted #e5e1cf;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.newsletter-item-content__link-date {
    font-size: 1.6rem;
}

.newsletter-item-content__link-txt {
    font-size: 1.6rem;
    margin-left: 15px;
}


/* End NewsLetter Style Define */


/* mypage.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.content-title h3 {
    font-size: 2.6rem;
    border-bottom: 2px solid #efefef;
    margin-bottom: 5rem;
}

.content-title h3 span {
    border-bottom: 4px solid #72d102;
}

.content-group {
    background-color: white;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    padding: 10px 20px;
}

.content-group:nth-child(2) {
    border-top: 2px solid #e8e8e8;
}

.content-group-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-group-item__date {
    width: 20%;
    font-size: 1.6rem;
}

.content-group-item__txt {
    width: 65%;
    font-size: 1.6rem;
    color: #71d100;
}

.content-group-item__new {
    width: 15%;
    text-align: right;
}

.content-group-item__new span {
    font-size: 1.6rem;
    color: white;
    background-color: #ff7800;
    border-radius: 5px;
    padding: 3px 5px;
}

.content-group-pagination {
    margin-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-one-page {
    justify-content: center!important;
}

.pagination__preve i {
    color: #71d100;
    font-size: 2rem;
    font-weight: bold;
}

.pagination__num {
    background-color: white;
    border: 1px solid #71d100;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__num:hover {
    background-color: #71d100;
}

.pagination__num span {
    font-size: 1.6rem;
    color: black;
}

.pagination__num:hover span {
    color: white;
}

.pag_active {
    background-color: #71d100;
}

.pag_active span {
    color: white;
}


/* question_negoty.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.qnego-sm-title {
    font-size: 1.4rem;
}

.table-content-item {
    width: 100%;
}

.table-responsive {
    font-size: 1.6rem;
    margin-top: 5rem;
}

.table-responsive th:nth-child(1) {
    width: 25%;
}

.table-responsive th:nth-child(2) {
    width: 50%;
}

.table-responsive th:nth-child(3) {
    width: 15%;
}

.table-responsive th:nth-child(4) {
    width: 10%;
}

.table td,
.table th {
    padding: .25rem;
    text-align: center;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.table-responsive th {
    background-color: #71d100;
    padding-left: 2rem;
    color: white;
    font-weight: unset;
}

.table-responsive td {
    padding-left: 2rem;
}


/* purchase_wishes.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.purchase__wishes th:nth-child(2) {
    width: 10%;
}

.purchase__wishes th:nth-child(3) {
    width: 50%;
}

.purchase__wishes th:nth-child(4) {
    width: 15%;
}


/* withdraw_history.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.total-cal {
    margin-top: 5rem;
    background-color: white;
    padding: 5rem;
    text-align: center;
}

.total-cal__txt h2 {
    font-size: 2rem;
}

.total-cal__txt h2 span {
    font-size: 4rem;
    font-weight: bold;
}

.total-cal__txt p {
    font-size: 2rem;
}

.ttal-cal__btn {
    margin-top: 2rem;
}

.ttal-cal__btn button {
    background-color: #ff7800;
    font-size: 2rem;
    color: white;
    padding: 1rem 18rem;
    border: none;
    border-radius: 15px;
}

.ttal-cal__btn button:focus {
    outline: none;
    opacity: 0.8;
}


/* evaluation.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.evaluation-content {
    margin-top: 5rem;
}

.evaluation-tab-set {
    font-size: 1.6rem;
}

.evaluation-tab-set ul {
    width: 100%;
}

.evaluation-tab-set li {
    width: 33.3333333%;
    text-align: center;
}

.evaluation-tab-set li a {
    padding: 10px;
    background-color: #e8e8e8;
}

.nav-tabs .nav-link {
    border: 2px solid #fcfbfa;
}

.nav-tabs .nav-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #71d100;
    color: white;
    border-bottom: 2px solid #71d100;
    border-top: unset;
    border-left: unset;
    border-right: unset;
}


/*
.tab-content {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
*/

.evaluation-item {
    width: 100%;
    background-color: white;
    padding: 5rem;
}

.evaluation-result-content-head__level {
    margin-left: 1.5rem;
}

.evaluation-result-content__txt {
    margin-left: 1.5rem;
}

.mr-1 {
    margin-right: 1rem !important;
}

.evaluation-content__top {
    text-align: center;
}

.evaluation-content__title h3 {
    margin-top: 5rem;
    font-size: 2.5rem;
    text-align: center;
}

.evaluation-content__exam p {
    margin-top: 4rem;
    margin-left: 8rem;
    font-size: 1.6rem;
}

.evaluation-item-show {
    padding: 5rem;
}

.evaluation-item-show__btn {
    float: right;
    right: 0;
    margin-bottom: 5rem;
}

.evaluation-item-show__btn a {
    font-size: 1.6rem;
    padding: 0.5rem 2.5rem;
    border-radius: 10px;
}

.evaluation-item-show__btn a:nth-child(1) {
    background-color: white;
    border: 1px solid #ff0054;
    color: #ff0054;
}

.evaluation-item-show__btn a:nth-child(2) {
    background-color: white;
    border: 1px solid #71d100;
    color: #71d100;
}

.evaluation-item-show__btn a:nth-child(3) {
    background-color: white;
    border: 1px solid #00c6ff;
    color: #00c6ff;
}

.evaluation-item-show {
    border-bottom: 1px solid #e8e8e8;
}

.evaluation-item-show-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.evaluation-result-person {
    width: 20%;
    text-align: center;
}

.evaluation-result-person img {
    width: 50%;
}

.evaluation-result-person_img_comment {
    padding: 5px 5px;
    margin: auto;
    width: 70%;
}

.evaluation-result-person_img_comment img {
    border-radius: 50%;
    width: 100%;
}

.evaluation-result-person__name p {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: #71d100;
}

.evaluation-result-content {
    width: 77%;
    background-color: white;
    padding: 10px;
}

.evaluation-result-content-head {
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.evaluation-result-content-head__sex p {
    font-size: 1.6rem;
    color: #71d100;
    margin-left: 30px;
}

.evaluation-result-content__txt p {
    font-size: 1.6rem;
    padding: 10px 10px;
}

.evaluation-result-content__txt p:nth-child(2) {
    float: right;
    right: 1.5rem;
}


/*purchase_wishes.html 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.purchase-wishes-content {
    background-color: white;
    padding: 5rem;
    font-size: 1.6rem;
    margin-top: 5rem;
    border: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.purchase-wishes-content-title input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px solid #e8e8e8;
    margin-top: 2rem;
}

.purchase-wishes-content-title {
    padding-bottom: 3rem;
    border-bottom: 1px solid #e8e8e8;
}

.purchase-wishes-content-title input:focus {
    outline: 1px solid #71d100;
}

.purchase-wishes-content__content {
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e8e8e8;
}

.purchase-wishes-content__content textarea {
    margin-top: 2rem;
    width: 100%;
    border: 1px solid #e8e8e8;
}

.purchase-wishes-content__content textarea:focus {
    outline: 1px solid #71d100;
}

.purchase-wishes-content-bottom {
    margin-top: 3rem;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 3rem;
}

.purchase-wishes-content-bottom input {
    margin-top: 2rem;
    width: 100%;
    height: 40px;
    border: 1px solid #e8e8e8;
}

.purchase-wishes-content-bottom input:focus {
    outline: 1px solid #71d100;
}

.purchase-wishes-content-btn {
    margin-top: 3rem;
}

.purchase-wishes-content-btn button {
    width: 100%;
    color: white;
    font-size: 1.8rem;
    background-color: #72d102;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
}

.purchase-wishes-content-btn button:focus {
    outline: none;
    opacity: 0.7;
}


/* verify_doc-submit.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.verify-sm-txt {
    margin-top: 1rem;
}

.verify-sm-txt h4 {
    font-size: 1.8rem;
}

.verify-sm-txt p {
    font-size: 1.6rem;
}

.verify-sm-txt h4:nth-child(3) {
    color: #ff0000;
}

.verify-sm-txt p:nth-child(4) {
    color: #ff0000;
}

.verify-submit-form__title p {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.custom-file {
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

.custom-file-label::after {
    content: "参照";
}

.verify-submit-form__btn {
    margin-top: 3rem;
    text-align: center;
    padding: 0 20%;
}

.verify-submit-form__btn button {
    width: 100%;
    background-color: #72d102;
    padding: 10px 0;
    border: none;
    font-size: 1.6rem;
    color: white;
    border-radius: 10px;
}

.verify-submit-form__btn button:focus {
    outline: none;
    opacity: 0.7;
}


/* sell.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.sell-content {
    padding: 3rem;
    background-color: white;
}

.sell-content-txt__title h3 span:nth-child(1) {
    font-size: 2.5rem;
}

.sell-content-txt__title h3 span:nth-child(2) {
    font-size: 1.6rem;
    color: #ff2626;
}

.sell-content-txt__txt p {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.sell-content-txt__txt p span {
    color: #9ede6b;
}

.sell-content-photo {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sell-content-photo-item {
    width: 32%;
    text-align: center;
}

.sell-content-photo-item-img {
    border: 1px solid #e8e8e8;
}

.sell-content-phpto-item-img__img img {
    width: 100%;
    height: 30rem;
}

.sell-content-photo-item-img__txt {
    background-color: #fbfbfb;
}

.sell-content-photo-item-img__txt h4 {
    padding: 10px 0;
    font-size: 1.6rem;
}

.file {
    visibility: hidden;
    position: absolute;
}

.file1 {
    visibility: hidden;
    position: absolute;
}

.file2 {
    visibility: hidden;
    position: absolute;
}

.sell-content-photo-item-img__btn {
    margin-top: 1.5rem;
}

.button__define {
    width: 100%;
    color: white;
    padding: 10px 0;
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
    background-color: #72d102;
}

.button__define:focus {
    outline: none;
}

.button__define:hover {
    opacity: 0.7;
}

.sell-content-photo-item-img__camerabtn {
    margin-top: 1.5rem;
}

.photo-precation p {
    margin-top: 1.5rem;
    font-size: 1.6rem;
}

.product-info {
    margin-top: 5rem;
}

.product-info h3 {
    font-size: 2.5rem;
}

.product-info p {
    font-size: 2rem;
}

.product-info-select {
    margin-top: 3rem;
}

.product-info-select select {
    margin-top: 2rem;
}

.product-info-select select {
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    border: 1px solid #e8e8e8;
    padding-left: 20px;
}

.product-info-select select:focus {
    outline: 1px solid #71d100;
}


/* .custom-switch .custom-control-label::before {
    width: 5rem;
}
.custom-switch .custom-control-label::after {
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
}
.custom-control-label::before {
    height: 2rem;
} */

.product-info-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-info-switch__input input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.product-info-switch__input label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.product-info-switch__input label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 11px;
    transition: 0.3s;
}

.product-info-switch__input input:checked+label {
    background: #bada55;
}

.product-info-switch__input input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.product-info-switch__input label:active:after {
    width: 30px;
}

.product-info-switch__txt {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 20px;
}

.product-price {
    margin-top: 4rem;
}

.product-price h3 {
    font-size: 2.5rem;
}

.product-price p {
    font-size: 2rem;
    margin-top: 2rem;
}

.product-price input {
    font-size: 1.6rem;
    padding-left: 20px;
    border: 1px solid #e8e8e8;
    width: 100%;
    height: 40px;
    margin-top: 1rem;
}

.prodect-price input:focus {
    outline: 1px solid #71d100;
}

.product-check {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.product-check__input input {
    width: 15px;
    height: 15px;
}

.product-check__txt label {
    font-size: 14px;
    left: 20px;
}

.sell-form-btn {
    margin-top: 3rem;
}

.sell-form-btn button {
    color: white;
    padding: 10px 0;
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
    background-color: #72d102;
}

.sell-form-btn button:focus {
    outline: none;
}

.sell-form-btn button:hover {
    opacity: 0.7;
}

.sell-form-btn button:nth-child(1) {
    width: 55%;
}

.sell-form-btn button:nth-child(2) {
    width: 40%;
    float: right;
    right: 0;
}

.sell-form-end {
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: right;
}


/* Other Common Style Define
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Other Common Header Style Define */


/* Header Style Define */

.other-main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100000;
}

.other-main-header__logo {
    width: 15%;
}

.other-main-header__logo img {
    width: 100%;
}

.other-main-header__search {
    width: 40%;
    display: flex;
    align-items: center;
}

.other-main-header__search input[type="text"] {
    width: 90%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    font-size: 14px;
}

.other-main-header__search button {
    width: 10%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    font-size: 18px;
}

.other-main-header-link {
    width: 34%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.other-main-header-link__txt {
    width: 48%;
}

.other-main-header-link__txt-item {
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

.other-main-header-link__txt-item span:nth-child(1) {
    border-right: 1px solid white;
    background-color: #7dc02d;
    padding: 10px;
    border-left: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.other-main-header-link__txt-item span:nth-child(2) {
    border-left: 1px solid white;
    background-color: #7dc02d;
    padding: 10px;
    border-left: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    color: white;
    width: 100%;
}

.other-main-header-link__txt:nth-child(2) .other-main-header-link__txt-item span:nth-child(1) {
    border-right: 1px solid white;
    background-color: #ff7800;
    padding: 10px;
    border-left: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.other-main-header-link__txt:nth-child(2) .other-main-header-link__txt-item span:nth-child(2) {
    border-left: 1px solid white;
    background-color: #ff7800;
    padding: 10px;
    border-left: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    color: white;
    width: 100%;
}


/* End Header Style Define */


/* End Other Common Heade Style Define */


/* contact_us.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.customer-contact-form {
    padding: 5rem 15%;
}

.customer-contact-form__txt p {
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.contact-form-content {
    padding: 10px 3rem;
    border: 1px solid #e8e8e8;
}

.contact-form-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.contact-form-content__txt {
    width: 20%;
}

.contact-form-content__tag {
    width: 70%;
}

.contact-form-content__tag input,
textarea {
    border: none;
    background-color: #f2f2f2;
}

.contact-form-content__tag input,
textarea:focus {
    outline: none;
}

.contact-form-content__tag input {
    height: 40px;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-35 {
    width: 35%;
}

.width-30 {
    width: 30%;
}

.contact-form-content__txt p {
    font-size: 1.6rem;
}

.contact-form-recapt {
    left: 40%;
    margin-top: 3rem;
}

.conform-submit__btn {
    width: 100%;
    padding: 5rem 20%;
}

.conform-submit__btn button {
    background-color: #71d100;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 15px;
    padding: 15px 0;
    border: none;
    width: 100%;
}


/* notice.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.customer-contact-form .content-group:nth-child(1) {
    border-top: 2px solid #e8e8e8;
}

.customer-contact-form .content-group:nth-child(2) {
    border-top: unset;
}


/* .notice_show.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.notice-show__top {
    margin-top: 5rem;
    font-size: 1.6rem;
    border: 1px solid #e8e8e8;
    padding: 3rem;
}

.notice-show__content {
    padding: 3rem;
    border: 1px solid #e8e8e8;
    padding: 3rem;
    font-size: 1.6rem;
}

.notice-show__btn {
    margin-top: 5rem;
    text-align: center;
}

.notice-show__btn button {
    padding: 10px 4rem;
    font-size: 1.6rem;
    border: 1px solid #71d100;
    background-color: white;
    color: #71d100;
}


/* use_flow.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.flow-content {
    padding-left: 10%;
    padding-right: 10%;
}

.flow-content__txt {
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.flow-content__txt p:nth-child(2) {
    color: #71d100;
}

.flow-content-step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.flow-content-step__left {
    width: 20%;
    background-color: #71d100;
    padding: 4rem 0;
}

.flow-content-step__left p {
    color: white;
    text-align: center;
}

.flow-content-step__left p:nth-child(1) {
    font-size: 3rem;
}

.flow-content-step__left p:nth-child(2) {
    font-size: 1.6rem;
}

.flow-content-step__right {
    width: 80%;
    border: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
}

.flow-content-step__right p {
    font-size: 1.6rem;
    margin-left: 20px;
    line-height: 2;
}

.flow-icon {
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-top: 3rem solid #ff7800;
    margin-left: 48%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* faq.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.faq-content-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    margin-top: 2rem;
}

div[aria-expanded="false"] .bi-chevron-up {
    display: none;
}

div[aria-expanded="true"] .bi-chevron-down {
    display: none;
}

.faq-content-item__txt:nth-child(1) {
    width: 20%;
    background-color: #71d100;
    text-align: center;
    padding: 20px 0px;
}

.faq-content-item__txt:nth-child(1) p {
    font-size: 1.6rem;
    color: white;
}

.faq-content-item__txt:nth-child(2) {
    width: 70%;
    background-color: white;
    border: 1px solid #e8e8e8;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.faq-content-item__txt:nth-child(2) p {
    font-size: 1.6rem;
}

.faq-content-item__icon {
    width: 10%;
    background-color: white;
    border: 1px solid #e8e8e8;
    color: #71d100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq-content-item__icon i {
    font-size: 2.6rem;
    font-weight: bold;
}

.faq-content-item__show {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 4rem;
}

.faq-content-item__show p {
    font-size: 1.6rem;
    padding: 20px;
}


/*seller_home.html 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seller-home__img {
    width: 150px;
    height: 150px;
    margin-top: -100px;
    z-index: 1;
    margin-bottom: 15px;
}

.seller-home__img img {
    width: 16rem;
}

.seller-home-profile {
    padding: 0 15px;
    width: calc(100% - 150px);
}

.seller-home-profile__title h3 {
    font-size: 2.6rem;
    font-weight: bold;
}

.seller-home-profile__txt p {
    font-size: 1.6rem;
}

.social-icon {
    margin-bottom: 5rem;
}

.social-icon i {
    font-size: 4rem;
}

.social-icon i {
    margin-left: 20px;
}

.social-icon i:nth-child(1) {
    margin-left: 0px;
}

.seller-home {
    margin-top: 5rem;
}

.seller-bottom {
    text-align: right;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.seller-bottom a {
    color: #71d100;
    font-size: 1.6rem;
}

.seller-evaluation__title {
    border-bottom: 1px solid #e8e8e8;
    margin: 0 10% 2rem 10%;
}

.seller-evaluation__title p {
    font-size: 2rem;
    color: #71d100;
}

.seller-evaluation__title p span {
    border-bottom: 4px solid #71d100;
}

.seller-evaluation {
    margin-left: 10%;
    margin-right: 10%;
    padding: 3rem;
    background-color: #fbfaf8;
}

.seller-evaluation .evaluation-item-show-result {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 991px) {
    .seller-home__img {
        width: 150px;
        height: 150px;
        margin-top: -100px;
        z-index: 1;
        margin-bottom: 15px;
    }
    .seller-home__img img {
        width: 20rem;
    }
}

@media screen and (max-width: 767px) {
    .seller-home__img {
        width: 80px;
        height: 150px;
        margin-top: -35px;
        z-index: 1;
        margin-bottom: 15px;
    }
    .seller-home__img img {
        width: 25rem;
    }
}

@media screen and (max-width: 670px) {
    .seller-home__img {
        width: 70px;
        height: 150px;
        margin-top: -35px;
        z-index: 1;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 360px) {
    .seller-home__img {
        width: 55px;
        height: 150px;
        margin-top: -35px;
        z-index: 1;
        margin-bottom: 15px;
    }
}


/* service_terms.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.service-term {
    margin-top: 10rem;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #e8e8e8;
    padding: 3rem;
    overflow: scroll;
    height: 50rem;
}

.service-term p {
    font-size: 1.6rem;
}

.service-term h4 {
    font-size: 2rem;
    margin-top: 4rem;
}


/* ladies_new_item.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.ladies-new-term {
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.ladies-new-term .content-group-pagination {
    margin-left: 10%;
    margin-right: 10%;
}


/* purase_request_info.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.purase-request-info {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5rem;
}

.purase-request-info p {
    font-size: 1.6rem;
    border: 1px solid #e8e8e8;
    padding: 3rem;
}

.purase-request-info p:nth-child(3) {
    text-align: center;
}

.purase-request-info p:nth-child(3) span {
    font-size: 3rem;
    color: #ff0054;
    font-weight: bold;
}


/* buy_credig_card.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.buy-credit-card {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10rem;
}

.buy-credit-card__lead {
    border-bottom: 1px solid #e8e8e8;
}

.buy-credit-card__lead h3 {
    font-size: 2.6rem;
}

.buy-credit-card__lead h3 span {
    border-bottom: 4px solid #71d100;
}

.buy-credit-card__price {
    margin-top: 10rem;
    text-align: center;
}

.buy-credit-card__price p {
    font-size: 1.6rem;
}

.buy-credit-card__price p span {
    color: #ff0054;
    font-size: 2.6rem;
    font-weight: bold;
}

.buy-credit-card__btn {
    text-align: center;
    margin-top: 5rem;
}

.buy-credit-card__btn button {
    background-color: #ff7800;
    border: 1px solid #ff7800;
    padding: 10px 15rem;
    color: white;
    font-size: 1.6rem;
    border-radius: 10px;
}

.buy-credit-card__btn button:focus {
    outline: none;
}

.buy-credit-card__btn button:hover {
    background-color: white;
    border: 1px solid #ff7800;
    color: black;
}


/* by_credit.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.buy-credit {
    margin-top: 7rem;
    text-align: center;
}

.buy-credit button {
    font-size: 1.6rem;
    color: white;
    background-color: black;
    padding: 10px 15rem;
    border-radius: 10px;
    border: 1px solid black;
}

.buy-credit button:focus {
    outline: none;
}

.buy-credit button:hover {
    background-color: white;
    border: 1px solid black;
    color: rgb(150, 141, 141);
}

.buy-credit-lead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 5rem;
}

.buy-credit-lead__txt p {
    font-size: 1.6rem;
}

.buy-credit-lead__txt:nth-child(1) p {
    font-size: 2rem;
}

.buy-credit-lead__txt p span {
    font-size: 2.6rem;
    font-weight: bold;
}

.credit-transfer-account {
    margin-top: 4rem;
    font-size: 1.6rem;
}

.credit-transfer__txt {
    margin-top: 4rem;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    display: flex;
}

.credit-transfer__txt-item {
    width: 20%;
    font-size: 1.6rem;
}

.credit-transfer__txt-item:nth-child(1) {
    margin-left: 20px;
}

.credit-transfer__bottom {
    border: 1px solid #e8e8e8;
    padding: 15px;
    margin-top: 5rem;
}

.credit-transfer__bottom p {
    font-size: 1.6rem;
}

.credit-transfer__bottom p i {
    color: #71d100;
    font-size: 1.6rem;
}

.credit-transfer__bottom p span {
    color: #71d100;
}


/* new_member_register.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.new-register__bottom {
    margin-top: 5rem;
    border: 1px solid #e8e8e8;
    padding: 10px 3rem;
    text-align: center;
}

.new-register__bottom p {
    font-size: 1.6rem;
    line-height: 2;
}


/* laides_prodect_list.html
/////////////////////////////////////////////////////////////////////////////////////////////////////// */

.ladies-product-list__title p {
    font-size: 3rem;
}

.ladies-product-list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    width: 100%;
}

.product-list-content__left {
    width: 45%;
}

.product-list-content__img img {
    width: 100%;
}

.product-list-content__bottom {
    margin-top: 2rem;
    text-align: center;
}

.product-list-content__bottom p {
    font-size: 1.6rem;
}

.product-list-content__bottom p i {
    font-size: 2rem;
    color: red;
}

.product-list-content__right {
    width: 45%;
}

.product-list-content__right-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-list-content__right-item-title {
    width: 35%;
    background-color: #fbfaf8;
    border: 1px solid #e8e8e8;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.product-list-content__right-item-title p {
    font-size: 1.6rem;
}

.product-list-content__right-item-txt {
    width: 65%;
    border: 1px solid #e8e8e8;
    padding: 10px 15px;
}

.product-list-content__right-item-txt p {
    font-size: 1.6rem;
}

.product-list-content__right-bottom {
    text-align: center;
    margin-top: 2rem;
}

.product-list-content__right-bottom a {
    color: #71d100;
    font-size: 1.6rem;
}

.ladies-product-price {
    margin-top: 3rem;
    text-align: center;
}

.ladies-product-price__txt p {
    font-size: 1.6rem;
}

.ladies-product-price__txt p span {
    font-size: 3rem;
    color: #ff0054;
    font-weight: bold;
}

.ladies-product-btn {
    margin-top: 4rem;
}

.ladies-product-btn button {
    border: none;
    color: white;
    font-size: 1.6rem;
    padding: 10px 5rem;
    border-radius: 10px;
}

.ladies-product-btn button:nth-child(1) {
    background-color: #7dc02d;
}

.ladies-product-btn button:nth-child(2) {
    background-color: #ff7800;
    margin-left: 3rem;
    padding: 10px 8rem;
}

.ladies-product-btn button:focus {
    outline: none;
}

.ladies-product-btn button:hover {
    opacity: 0.7;
}

.ladies-product-order-warning p {
    font-size: 1.4rem;
    margin-top: 1rem;
    text-align: right;
    margin-right: 24%;
}

.ladies-product-content {
    margin-top: 5rem;
    background-color: #fbfaf8;
    padding: 3rem;
}

.ladies-product-content p {
    font-size: 1.6rem;
}

.seller-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.seller-info-item {
    width: 47%;
}

.seller-info-item__lead {
    margin-top: 5rem;
    background-color: #e8e8e8;
}

.seller-info-item__lead p {
    font-size: 1.6rem;
    padding: 10px 15px;
}

.not-payment-btn {
    margin-top: 4rem;
}

.not-payment-btn button {
    width: 100%;
    background-color: #ffbb7f;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 1.6rem;
}

.not-payment-btn button:focus {
    outline: none;
}

.not-payment-btn button:hover {
    opacity: 0.7;
}

.transaction-info__lead {
    margin-top: 5rem;
    border-bottom: 1px solid #e8e8e8;
}

.transaction-info__lead p {
    font-size: 2.6rem;
}

.transaction-info__lead p span {
    border-bottom: 4px solid #71d100;
}

.transaction-info__lead_feedback {
    margin-bottom: 1rem;
}

.transaction-info-flow {
    margin-top: 5rem;
}

.transaction-info-flow img {
    width: 100%;
}

.transaction-info-flow__bottom {
    margin-top: 2rem;
    text-align: center;
}


/* .transaction-info-flow__bottom p {
    font-size: 1.5rem;
} */

.transaction-info-flow__bottom p span {
    color: #ff8326;
}

.transaction-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    width: 100%;
}

.transaction-btn button {
    width: 48%;
    padding: 10px 0;
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
}

.transaction-btn button:focus {
    outline: none;
}

.transaction-btn button:hover {
    opacity: 0.7;
}

.transaction-btn button:nth-child(1) {
    background-color: #72d102;
}

.transaction-btn button:nth-child(2) {
    background-color: #ff7800;
}

.transaction-refer p {
    margin-top: 5rem;
    font-size: 1.6rem;
}

.transaction-refer p span {
    color: #ff8326;
}

.transaction-bottom {
    border: 1px solid #e8e8e8;
    padding: 3rem;
    margin-top: 5rem;
}

.transaction-bottom p {
    font-size: 1.6rem;
}

.transaction-bottom p span {
    color: #71d100;
}

.transaction-file-upload {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.transaction-file-upload-item {
    width: 48%;
}

.transaction-file-down p {
    font-size: 1.6rem;
}

.transaction-file-btn {
    text-align: center;
    margin-top: 4rem;
}

.transaction-file-btn button {
    width: 50%;
    background-color: #72d102;
    font-size: 1.6rem;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
}

.transaction-file-btn button:focus {
    outline: none;
}

.transaction-file-btn button:hover {
    opacity: 0.7;
}

.transaction-content {
    width: 100%;
    padding: 3rem;
    margin-top: 5rem;
    background-color: #fbfaf8;
}

.transaction-comment-head {
    margin-top: 2rem;
    font-size: 2.6rem;
}

.transaction-comment-head span {
    border-bottom: 4px solid #71d100;
}

.btn-edit {
    color: #72d102!important;
}

.btn-edit:hover {
    color: white;
}

.itemContentText {
    font-size: 1.3em;
    margin: 2em 0;
}

.btn-custom {
    font-size: 1.6rem;
    padding: 5px 0;
}

.evaluation-good {
    background-color: white !important;
    border: 1px solid #ff0054;
    color: #ff0054 !important;
}

.good-active {
    background-color: #ff0054 !important;
    color: white !important;
}

.normal-active {
    background-color: #71d100 !important;
    color: white !important;
}

.bad-active {
    background-color: #00c6ff !important;
    color: white !important;
}

.required-field::after {
    content: ' *';
    color: red;
}

.size-1_5rem {
    font-size: 1.5rem;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    height: fit-content;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 5px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

ol.carousel-indicators li {
    background: silver;
}

ol.carousel-indicators li.active {
    background: #71d100;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 30px;
    color: silver;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 30px;
    color: silver;
}

.photo-preview-container {
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
}

.preview-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.garizu-content {
    padding: 3rem;
    background-color: white;
}

.garizu-content-txt__title h3 span:nth-child(1) {
    font-size: 2.5rem;
}

.garizu-content-txt__title h3 span:nth-child(2) {
    font-size: 1.6rem;
    color: #ff2626;
}

.garizu-content-txt__txt p {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.garizu-content-txt__txt p span {
    color: #9ede6b;
}

.garizu-content-photo {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.garizu-content-photo-item {
    width: 32%;
    text-align: center;
}

.garizu-content-photo-item-img {
    border: 1px solid #e8e8e8;
}

.garizu-content-phpto-item-img__img img {
    width: 100%;
    height: 30rem;
}

.garizu-content-photo-item-img__txt {
    background-color: #fbfbfb;
}

.garizu-content-photo-item-img__txt h4 {
    padding: 10px 0;
    font-size: 1.6rem;
}

.garizu-info {
    margin-top: 5rem;
}

.garizu-info h3 {
    font-size: 4rem;
    font-weight: bold;
}

.garizu-info p {
    font-size: 2rem;
}

.garizu-description p {
    font-size: 1.5rem;
    margin: 20px;
}

.modalGaziru {
    padding-right: 15px;
    top: 18%;
    display: none;
}


/* .modalGaziru .modal-content{
    padding-top: 10px;
    padding-bottom: 20px;
    height: 80%;
    width: 60%;
    overflow-y: scroll;
} */

.modalGaziru .close {
    margin: -3rem -1rem -1rem auto;
}

.gaziruImagePreview {
    width: 40vh;
    height: 40vh;
    background-position: center center;
    /* background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg); */
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.gaziruPreview {
    align-self: center;
}

.gaziruCanvas {
    /* position: absolute;
    left: 25%;
    top: 5%; */
    margin-left: 25%;
    width: 50%;
    height: auto;
    object-fit: cover;
    border: 1px solid silver;
}

.gaziruCanvasUpload {
    margin-top: 5%;
    width: 50%;
    height: auto;
    object-fit: cover;
    border: 1px solid silver;
}

.imgGaziruPreview {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 1px solid silver;
}

.imgGaziruPreviewCanvas {
    /* position: relative; */
    overflow: hidden;
    padding-bottom: 55px;
}

.imgGaziruPreview .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagePreview {
    width: 100%;
    height: 220px;
    background-position: center center;
    /* background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg); */
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.imagePreview img {
    object-fit: fill;
}

.btn-gaziru-upload {
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
    background-color: #6c757d;
    color: white;
}

.garizu-canvas {
    width: 100%;
    height: 220px;
    display: block;
    object-fit: contain;
}

.image-preview {
    /* object-fit: fil; */
    width: 100%;
    height: 220px;
    z-index: 9;
}

.image-marker {
    top: 75px;
    left: 75px;
    position: absolute;
    cursor: move;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    z-index: 10;
}

.imgUp h1 {
    margin-top: 2rem;
}

.imgUp p {
    font-size: 1.5rem;
    margin: 20px;
}

.imgWin a {
    color: #0060B6;
    text-decoration: none;
    font-size: 1.5rem;
}

.imgWin a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .image-marker {
        top: 75px;
        left: 75px;
        position: absolute;
        cursor: move;
        width: 10px !important;
        height: 10px !important;
        border-radius: 10px;
        z-index: 10;
    }
}

.top-btn-see-detail {
    padding-top: 10px;
    text-align: center;
}

.top-btn-see-detail a {
    border: 1px solid #ff7800;
    padding: 5px 10px;
    background: #ff7800;
    color: white;
}

.zoom-range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.zoom-range:hover {
    opacity: 1;
}

.zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff7800!important;
    cursor: pointer;
}

.zoom-range::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff7800!important;
    cursor: pointer;
}


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////// */