@charset "UTF-8";

.service-term h3,
.priceinfo-inner h3{
    font-size:2.8rem;
    margin-bottom: 24px;
}

.service-term h4,
.priceinfo-inner h4{
    font-size:2.0rem;
    margin-bottom: 24px;
}

.service-term p{
    margin-bottom: 16px;    
}

.contents{
    margin-bottom: 40px;
}

.contents img{
    width: 100%;
}

.consept h3{
    text-align: center;
    font-size: 2.6rem;
    line-height: 5rem;
}

table.priceinfo-table{
    width: 100%;
    margin-bottom: 16px;
}
table.priceinfo-table th,
table.priceinfo-table td{
background-color: white;
border: 2px solid #e8e8e8;
padding: 10px 20px;
}

.consept h4{
    text-align: center;
    font-size: 2.0rem;
    margin-bottom: 32px;
}

.consept p{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 24px;
    line-height: 2.6rem;
}

span.font_b{
    font-weight:bold;
}


@media (max-width: 768px){

    .service-term h3,
    .priceinfo-inner h3{
        font-size: 7.5rem;
    }

    .service-term h4,
    .priceinfo-inner h4{
        font-size: 6.2rem;
    }

    .consept h3{
        text-align: center;
        font-size: 7.5rem;
        line-height: 12rem;
    }

    .consept h4{
        text-align: center;
        font-size: 6.2rem;
        margin-bottom: 32px;
    }

    .consept p,
    .priceinfo-inner p{
        font-size: 4.5rem;
        line-height: 9rem;
    }

    .priceinfo-inner table{
        font-size: 4.5rem;
    }
}