@charset "UTF-8";
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-info {
    color: #fff;
    background-color: #01b83e;
    border-color: #01b83e;
}
.btn-info:hover {
    color: #01b83e;
    background-color: #FFF;
    border-color: #01b83e;
}
.btn-danger:hover {
    color: #dc3545;
    background-color: #FFF;
    border-color: #dc3545;
}

.btn-info.focus, .btn-info:focus,
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #425a10;
    background-color: #ecefdc;
    border-color: #ecefdc;
}
